.code_container {

	.code_information {
		padding: 3px 8px;
		margin-bottom: 5px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.charactercount {
	    font-weight: bold;
	    padding: 13px 8px 11px;
	    line-height: 0;
	    border-radius: 10000px;

	    &.limit {
	    	background: #ae0000;
	    }
	}
}


/* editor fullscreen */
.ace_editor {
    &.fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 10000000000000;
    }

    .fullscreen_toggle {
        position: absolute;
        top: 0;
        right: 17px;
        z-index: 1;
        padding: 5px;
        font-size: 20px;
        background: #0004;
        border-radius: 2px;
        cursor: pointer;

        &:hover {
            background: #000a;
        }
    }

    .font_plus, .font_minus {
        position: absolute;
        top: 0;
        right: 17px;
        z-index: 1;
        padding: 5px;
        font-size: 20px;
        background: #0004;
        border-radius: 2px;
        cursor: pointer;

        &:hover {
            background: #000a;
        }
    }

    .font_plus {
        right: 50px;
    }

    .font_minus {
        right: 83px;
    }
}