.code_container {

	.code_information {
		padding: 3px 8px;
		margin-bottom: 5px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.charactercount {
	    font-weight: bold;
	    padding: 13px 8px 11px;
	    line-height: 0;
	    border-radius: 10000px;

	    &.limit {
	    	background: #ae0000;
	    }
	}
}

[select-viewable].is_executing_code {
    background: var(--color-highlight) !important;

    &:after {
        content: '\ea15';
        font-family: 'Iconfont' !important;    
    }
}
/* editor fullscreen */
.ace_editor {
    &.fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh!important;
        width: 100vw!important;
        z-index: $z-index-editor-fullscreen;
    }

    .fullscreen_toggle, .font_plus, .font_minus {
        position: absolute;
        top: 5px;
        z-index: 1;
        padding: 5px;
        font-size: 20px;
        background: #0004;
        border-radius: 2px;
        cursor: pointer;

        &:hover {
            background: #000a;
        }
    }

    .fullscreen_toggle {
        right: 8px;
    }

    .font_plus {
        right: 41px;
    }

    .font_minus {
        right: 75px;
    }

    /* keyword markup */

    .ace_keyword_dev {
        color: #d67118;
    }

    .ace_keyword_stormworks {
        color: #0b5394;
    }

    .ace_keyword_library {
        color: #8fce00;
    }
}