
body {
    padding-top: $navigation-height;
}

#navigation {
    position: absolute;
    top: 0;
    left: 0;
    height: $navigation-height;
    width: 100vw;
    z-index: $z-index-navigation;
    background: #090b0d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &.open {
        .center .content {
            .on_open {
                display: initial;
            }

            .not_open {
                display: none;
            }
        }
    }

    .left, .right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 25%;
        height: 70%;
        padding: 0 20px;
    }

    .left {
        justify-content: flex-start;

        #menu-open {
            color: var(--color-accent);
            font-size: 25px;
            cursor: pointer;
            line-height: 41px;
            transition: all 0.2s ease 0s;

            &:hover {
                color: #fff;
            }
        }

        .reload_page {
            color: #fff;
            font-size: 20px;
            line-height: 100%;
            margin-left: 15px;
            transform: translateY(0.5em);
        }
    }

    .right {
        justify-content: flex-end;
        
        .logo_container {
            height: 100%;

            img {
                height: 100%;
                width: auto;
            }
        }

        .version_state {
            margin-right: 30px;
            border-radius: 10000px;
            border: 2px solid;
            font-weight: bold;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 5px 15px;
        }
    }

    .center {
        position: relative;
        width: 50%;
        height: 100%;
        cursor: pointer;
        z-index: 3;

        &:hover {
            svg {
                filter: brightness(200%);
                animation-name: light-blink;
                animation-duration: 0.5s;
            }
        }

        svg {
            position: absolute;
            top: 0;
            left: 0;
            height: 110%;
            width: 100%;
            z-index: 1;

            path#border {
                fill: none;
                stroke: var(--color-accent);
                stroke-width: 1px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                stroke-opacity: 1;
            }

            path#fill {
                fill: var(--color-accent-dark);
            }
        }

        .content {
            z-index: 2;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            span {
                color: var(--color-text-light-foreground);
                font-family: "Lucida Console", Monaco, monospace;
                font-size: 40px;
                font-weight: bold;
            }

            .on_open {
                display: none;
            }
        }
    }

    .main {
        position: absolute;
        bottom: 100%;
        left: 0;
        min-height: 80vh;
        width: 100vw;
        background: var(--color-text-light-background);
        border-bottom: 1px solid var(--color-text-light-background);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-image: url('../images/logo_ghost.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        .part {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--color-text-light-foreground);
            font-size: 20px;

            a {

            }

            &:not(:last-child) {
                margin-bottom: 60px;
            }

            &:before {
                content: ' ';
                position: absolute;
                right: calc(100% + 30px);
                top: 50%;
                width: 10px;
                height: 10px;
                transform: translateY(-50%);
                background: var(--color-accent);
                border-radius: 100000px;
            }
        }
    }

    .navigation_hints {
        position: absolute;
        top: 0;
        left: 10vw;
        width: 80vw;
        z-index: 4;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .navigation_hint {
            position: relative;
            height: 90%;
            max-width: 500px;
            overflow-y: auto;

            border: 2px solid #fff;
            border-radius: 10000px;
            padding: 8px 25px 8px 45px;
            
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &:before {
                content: '\e91a';
                font-family: 'Iconfont';
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
