/* element sizes */

$navigation_height: 75px;
$ide_bar_height: 60px;

$splitter_width: 6px;

$box-shadow: 1px 1px 2px 2px #4b4b4b;



/* colors */
$red: #952424;
$stormworks-blue: #0081cc;

$light: #eaedf1;
$light-dark: #7e7e7e;

$medium-dark: #363b40;
$medium-darker: #1c3146;
$dark: #151719;
$very-dark: #090b0d;

$warning: #ac3d31;

$hightlight: #F0C53E;


/* z-index */
$z-index-documentation-arg-help: 100;
$z-index-documentation-hint: 100;
$z-index-autocompletion: 100;
$z-index-moveto-choose: 100;
$z-index-ui-builder-element-settings: 200 !important;
$z-index-splitter: 300;
$z-index-navigation: 400;
$z-index-editor-fullscreen: 500;
$z-index-ponybin: 600;
$z-index-help: 700;
$z-index-dialog: 800;

$z-index-ide-deactivated: 10000;


/* css variables */

:root {
    --background-accent-gradient: linear-gradient(10deg, #2b4a6a 0%, #446483 100%);
    --background-strong-accent-gradient: linear-gradient(10deg, #2b5a88 0%, #5e8dbb 100%);
    --background-grey-gradient: linear-gradient(10deg, #666 0%, #888 100%);
}
