[viewable="viewable_documentation"] {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 55px 5px 5px 5px;
    
    .documentation_searchbar {
        position: absolute;
        top: 5px;
        left: 5px;
        height: 40px;
        border-radius: 10000px;
        background: $stormworks-blue;
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
            border: none;
            padding: 3px 4px 3px 15px;
            background: transparent;
            color: $light;
            font-size: 20px;
            outline: none;

            &::placeholder {
                color: $medium-dark;
            }
        }

        span {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    .node {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 3px;
        background: $dark;
        color: $light;

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &.contracted {

            .bottom, .children {
                display: none;
            }
        }

        &.fuze_hidden {
            display: none;
        }

        .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 6px 6px;
            cursor: pointer;
            
            .definition {
                display: flex;
                flex-direction: row;
                font-size: 18px;

                .name {
                    
                }

                .args {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin-left: 10px;
                    color: #e87704;

                    &:before {
                        content: '(';
                        margin-right: 3px;
                    }

                    &:after {
                        content: ')';
                        margin-left: 3px;
                    }

                    .arg {
                        position: relative;
                        display: flex;
                        flex-direction: row;

                        &:before {
                            content: attr(before);
                        }

                        &:after {
                            content: attr(after);
                        }

                        &.has_help {

                        }

                        .arg_help_open {
                            margin-left: 6px;
                            color: #fff;
                        }

                        .arg_help {
                            position: absolute;
                            z-index: $z-index-documentation-arg-help;
                            top: 100%;
                            left: 0;
                            display: none;
                            background: $medium-dark;
                            padding: 6px;
                            min-width: 150px;

                            table {
                                border-collapse: separate;
                                border-spacing: 10px;

                                th, td {
                                    text-align: left;
                                }
                            }
                        }

                        &.has_help.help_open .arg_help {
                            display: inline-block;
                        }
                    }
                }


                .hint {
                    position: relative;
                    margin-left: 5px;

                    .hint_open_icon {

                    }

                    .hint_inner {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        z-index: $z-index-documentation-hint;
                        min-width: 150px;
                        padding: 6px;
                        background: $medium-dark;
                        font-size: 16px;
                    }

                    &.hint_open .hint_inner {
                        display: inline-block;
                    }
                }

            }

            .lib {
                border: 1px solid;
                border-radius: 10000px;
                padding: 2px 8px;
                white-space: nowrap;
                height: calc(1em + 2px * 4);
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            padding: 5px 10px 10px 10px;

            .url {
                margin-bottom: 8px;
            }

            .text {

            }

            .returns {
                font-weight: bold;
                color: $light-dark;
                margin-bottom: 8px;

                span {
                    font-weight: normal;

                    &.nothing {
                        text-decoration: underline;
                    }
                }
            }

            .bugs {
                margin-top: 10px;
                background: $red;
                color: #fff;
                padding: 6px;
                border-radius: 3px;

                .heading {
                    background: #fff;
                    color: $red;
                    padding: 3px 10px;
                    border-radius: 100000px;
                    font-weight: bold;
                    line-height: 1.3em;
                }

                .bug_text {
                    margin-top: 10px;
                    padding: 5px;
                }
            }
        }

        .children {
            padding-left: 10px;
            display: flex;
            flex-direction: column;
        }

        &[lib="stormworks"] {

            .lib {
                color: $stormworks-blue;
                border-color: $stormworks-blue;
            }
        }

        &[lib="dev"] {

            .lib {
                color: #b9085b;
                border-color: #b9085b;
            }
        }

        &[lib="lua"] {

            .lib {
                color: #44b511;
                border-color: #44b511;
            }
        }

        &[ntype="object"] {
            .name, .hint_open_icon {
                color: #A6CE28;
            }
        }

        &[ntype="function"] {
            .name, .hint_open_icon {
                color: #66D9EF;
            }
        }


        &[ntype="event"] {
            .name, .hint_open_icon {
                color: #F0D322;
            }
        }
    }
}

