#hints-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;

    .hint {
        position: relative;
        background: var(--color-text-light-background);
        color: var(--color-text-light);
        border-radius: 3px;
        width: 100%;

        &:not(:last-of-type) {
            margin-bottom: 5px;
        }

        h4 {
            width: 100%;
            padding: 6px 12px;
            margin: 0;
            background: #ac3d31;
            color: var(--color-text-light);
            font-weight: bold;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .close {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            border-radius: 10000px;
            color: var(--color-text-light);
            transition: all 0.3s ease 0s;

            &:hover {
                color: var(--color-text-medium);
            }
        }

        > div {
            padding: 10px;
            color: var(--color-text-light);
        }
    }
}