[viewable="viewable_monitor"] {
	#render-canvas, #unzoomed-canvas {
		display: none;
	}

	#monitor {
		position: relative;
	}

	.monitor_info {
		margin-top: 10px;

		div {
			display: flex;
			flex-direction: row;
			align-items: center;

			label {
				margin-right: 10px;
				min-width: 60px;
			}
		}

		span.zoom + input {
			margin-left: 10px;
		}
	}

	#overflow {
	    position: absolute;
	    top: 31px;
	    left: 31px;
	    z-index: 2;
	    width: calc(100% - 62px);
	    height: calc(100% - 62px);
	    border: 1px solid #ff0000cc;
	    margin: 0;
	}

	#canvas {
	    z-index: 1;
	    background: #000;
	    filter: brightness(258%);
	}
}