[viewable="viewable_history"] {

    .storage {
        text-align: center;
        margin-bottom: 5px;

        #storage-used {
            font-weight: bold;

            &.warning {
                color: red;
            }
        }
    }

    .entries {
        position: relative;
        padding: 10px;
        display: grid;
        grid-template-columns: auto 125px 80px 150px;
        row-gap: 10px;
        column-gap: 5px;
        max-height: 100%;
        overflow-y: auto;

        .history_entry {
            display: contents;
            height: 2em;
            overflow: hidden;        

            & > * {
                padding: 2px 6px;
                color: var(--color-text-light-foreground);
                background: var(--color-text-light-background);
                transition: all 0.2s ease 0s;
            }

            &.related > * {
                color: var(--color-text-dark-foreground);
                background: var(--color-text-dark-background);
            }

            &:hover > * {
                color: var(--color-text-darker-foreground);
                background: var(--color-text-darker-background);
            }

            .title {
                display: flex;
                flex-direction: row;
                align-items: center;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            .type {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .share_link_open {
                    padding: 2px 4px;
                    margin: 0 0 0 5px;
                }
            }

            .time {
                display: flex;
                flex-direction: column;
                font-size: 12px;
            }

            .buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;

                button {
                    margin: 0;
                    font-size: 12px;
                    padding: 2px 4px;

                    &:not(:last-child) {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

