@import "_variables.scss";
@import "_base.scss";
@import "_help.scss";
@import "_util.scss";
@import "_share.scss";
@import "_dialog.scss";
@import "_editor.scss";
@import "_uibuilder.scss";
@import "_autocomplete.scss";
@import "_navigation.scss";
@import "_value_list.scss";
@import "_chapters.scss";
@import "_view.scss";
@import "_viewable.scss";
@import "ponybin.scss";


.ide {
    position: relative;
    width: 100%;
    height: calc(100vh - #{$navigation_height});
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &[offline]{
        #share {
            display: none !important;
        }

        .history_entry[type="sharekey"] .buttons {
            .load, .update {
                display: none !important;
            }
        }
    }

    &[mode="server"] {
        
        .engine_controls {
            display: none!important;
        }
    }


    &.deactivated {
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            content: attr(loading-text);
            font-size: 40px;
            color: var(--color-text-light-foreground);
            background: var(--color-text-light-background);
            z-index: $z-index-ide-deactivated;
        }
    }

    .ide_bar {
        background: var(--color-text-lighter-background);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: $ide_bar_height;

        .ide_controls {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            .controls_group {
                padding: 5px;
                display: inline-block;
                color: var(--color-text-light-foreground);

                &:not(:last-child) {
                    border-right: 3px solid var(--color-accent);
                    padding-right: 10px;
                }

                button {
                    margin: 0;
                    padding: 6px 10px;
                    font-size: 14px;
                }

                button:not(:last-child) {
                    margin-right: 10px;
                }

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }

            #save {
                transition: all 0.5s ease 0s;

                &.saved {
                    background: #4d835f;
                    border-color: var(--color-text-light-foreground);
                    color: var(--color-text-light-foreground);
                }
            }

            #code-title {
                padding: 4px 6px;
                font-size: 14px;
                margin-right: 10px;
                background: transparent;
                border: 1px solid var(--color-text-light-foreground);
                border-radius: 4px;
                color: var(--color-text-light-foreground);
                width: 160px;
            }
        }


        .ide_bar_right {
            display: flex;
            flex-direction: row;
            align-items: center;

            .ide_mode_switch {
                position: relative;
                margin-right: 40px;
                background: var(--color-accent);
                border: 1px solid;
                border-radius: 6px;
                color: var(--color-text-light-foreground);

                input#ide-server-mode {
                    display: none;

                    &:checked + label[for="ide-server-mode"]:after {
                        left: -6px;
                    }
                }

                label[for="ide-server-mode"] {
                    padding: 8px;
                    font-size: 12px;
                    cursor: pointer;

                    &:before {
                        content: 'Vehicle\00a0\00a0\00a0\00a0\00a0Mission';
                        display: inline-flex;
                        height: 2em;
                        flex-direction: row;
                        align-items: center;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        top: -4px;
                        left: 50%;
                        height: calc(100% + 4px);
                        width: calc(50% + 4px);
                        background: var(--color-text-light-foreground);
                        border: 2px solid var(--color-text-medium);
                        border-radius: 6px;
                        transition: all 0.3s ease 0s;
                    }
                }
            }

            .ide_stats {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                background: var(--color-text-light-background);
                padding: 6px 12px;
                color: var(--color-text-light-foreground);
                font-size: 12px;

                & > *:not(:last-child) {
                    margin-bottom: 5px;
                }

                #drawtime.warning, #ticktime.warning {
                    color: red;
                }
            }
        }
    }

    .ide_flex_view {
        position: relative;
        width: 100%;
        height: calc(100vh - #{$navigation_height} - #{$ide_bar_height});
    }

    [splitter] {
        position: absolute;
        background: var(--color-accent-gradient);
        border: 2px solid #000;
        z-index: $z-index-splitter;

        &:hover {
            background: var(--color-accent-gradient-hover);            
        }

        /* hack so the mouse is not leaving the splitter directly */
        &:after {
            display: none;
            content: ' ';
            position: absolute;
            top: -1000px;
            left: -1000px;
            width: calc(100% + 2000px);
            height: calc(100% + 2000px);
        }
    }

    [splitter][draging="true"]:after {
        display: initial;
    }

    [splitter="vertical"] {
        left: calc(50vw - (#{$splitter_width} / 2));
        top: 0;
        height: calc(100vh - #{$navigation_height} - #{$ide_bar_height});
        width: 8px;
        cursor: e-resize;
    }

    [splitter="horizontal_left"], [splitter="horizontal_right"] {
        top: calc( ( 100vh - #{$navigation_height} - #{$ide_bar_height} ) / 2 - (#{$splitter_width} / 2));
        height: $splitter_width;
        width: calc(50vw - (#{$splitter_width} / 2));
        cursor: n-resize;
    }

    [splitter="horizontal_left"] {
        left: 0;        
    }

    [splitter="horizontal_right"] {
        left: calc(50vw + (#{$splitter_width} / 2));
    }
}

