body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
}

body,  * {
    box-sizing: border-box;
}

button {
    background: #bf5421;
    border: 1px solid #bf5421;
    border-radius: 3px;
    color: #000;
    padding: 8px 24px;
    cursor: pointer;
    margin-bottom: 40px;
    font-size: 20px;
    transition: all 0.2s ease 0s;
}

button:hover {
    background: #cb764d;
}

button[disabled] {
   border-color: #dbdbdb;
    color: #898989;
    cursor: not-allowed;
    background: #e5baa6;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #333;
    /*background-image: url('background.jpg');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}

.content {
    background: transparent;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

#selection, #top, #editor, #out, #functions {
    padding: 20px;
}

#selection {
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#selection > label {
    margin-right: 5px;
}

#selection > input, #selection > select {
    margin-right: 30px;
}


#top {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#top > :not(:last-of-type) {
    margin-right: 30px;
}

#property {

}

#monitor {
    position: relative;
}

#canvas {
    z-index: 1;
    background: #000;
}


#overflow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: calc(100% - 63px);
    height: calc(100% - 63px);
    border: 1px solid #ff0000cc;
    margin: 32px;
}

.zoomfactor {
    background: #bf5421;
    border-radius: 3px;
    padding: 5px;
    margin-top: 10px;
}

#zoomfactor {
    width: 100%;
    margin: 0;
    padding: 0;
}

#editor {
    
}

#code-container {
    position: relative;
}

#code-container.locked #code textarea {
    display: none;
}

#code-container.locked #code-lock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: not-allowed;
    z-index: 100000;
}

#code {
    width: 100%;
    height: 300px;
    border-radius: 3px;
    line-height: 130%;
}

#code-editor-information {
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: revert;
    justify-content: space-between;
}

#charactercount {
    font-weight: bold;
}

#charactercount.limit {
    color: red;
}

#autocompletition-container {
    position: absolute;
    z-index: 10;
}

#out {

}

#console {
    background: #000;
    color: #fff;
    width: 100%;
    min-height: 100px;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

#functions {
    
}

#functions .node {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#functions .node .information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#functions .node .information .left {
    width: 200px;
}

#functions .node .information .name {
    font-weight: bold;
}

#functions .node .information .args {
    margin-left: 2px;
    white-space: nowrap;
}

#functions .node .information .text {
    margin-left: 20px;
    color: #b1b1b1;
}

#functions .node .children {
    padding-left: 20px;
    margin-top: 1em;
}

#functions .node[ntype="object"] .name {
    color: #A6CE28;
}

#functions .node[ntype="function"] .name {
    color: #66D9EF;
}

/* informaton containers */
.information_container {
    background: #000000aa;
    border-radius: 3px;
    color: #fff;
    padding: 10px;
    margin: 20px;
}

.information_container h2 {
    color: #bf5421;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #444444;
}

/* information badges */
#information {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#information > * {
    margin-bottom: 5px;
}

#information a {
    color: #BF5421;
    text-decoration: none;  
}


/* value_list */
.value_list {
    min-width: 200px;
    background: black;
    padding: 5px 5px 0 5px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.value_list > * {
    background: #d7d7d7;
    border-radius: 3px;
    margin-bottom: 10px;
}

.value_list > *:last-of-type {
    margin-bottom: 5px;
}

.value_list > .head {
    font-weight: bold;
    background: #000!important;
    color: #bf5421;
}

.value_list .head {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background: #bf5421;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.value_list .head button {
    background: #000;
    border: 1px solid #000;
    color:  #bf5421;
}

.value_list .head button:hover {
    background: #cb764d;
    color: #000;
}

.value_list .head .add {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 auto;
}

.value_list .head .add input {
    width: 100px;
    margin: 0 5px;
}

.value_list button {
    margin: 0 0 0 auto;
    padding: 0 2px 2px 2px;
    font-size: 12px;
    line-height: 0;
    height: 20px;
    width: 20px;
}

.value_list .bool, .value_list .number, .value_list .text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 3px 0;
    padding: 5px;
}

.value_list .bool input, .value_list .number input, .value_list .text input {
    margin: 0 5px;
}

.value_list .bool .result, .value_list .number .result, .value_list .text .result {
    margin: 0 0 0 auto;
}

/* autocompletition */

.autocompletition {
    position: relative;
    background: #3d3e38;
    color: #fff;
    min-width: 250px;
}

.autocompletition .list {
    display: flex;
    flex-direction: column;
    max-height: 10.5em;
    overflow-y: auto;
    position: relative;
}

.autocompletition .list .entry, .autocompletition .list .empty {
    padding: 3px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.autocompletition .list .empty {
    cursor: not-allowed;
    color: #EE4A4B;
}

.autocompletition .list .entry.selected {
    background: #666666;
}

.autocompletition .list .entry .type {
    margin-left: 15px;
    font-style: italic;
}

.autocompletition .list .entry[atype="object"] .type, .autocompletition .descriptions .description[atype="object"] .name {
    color: #A6CE28;
}

.autocompletition .list .entry[atype="function"] .type, .autocompletition .descriptions .description[atype="function"] .name {
    color: #66D9EF;
}

.autocompletition .descriptions {
    position: absolute;
    top: 0;
    left: 100%;
}

.autocompletition .descriptions .description {
    display: none;
    background: #414141;
    padding: 8px;
    width: 200%;
    font-size: 120%;
    line-height: 120%;
}

.autocompletition .descriptions .description .top {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-bottom: 5px;
}

.autocompletition .descriptions .description .args {
    margin-left: 2px;
}

.autocompletition input {
    position: absolute;
    left: -99999999px;
}