body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
}

body,  * {
    box-sizing: border-box;
}

button {
    background: #bf5421;
    border: 1px solid #bf5421;
    border-radius: 3px;
    color: #000;
    padding: 8px 24px;
    cursor: pointer;
    margin-bottom: 40px;
    font-size: 20px;
    transition: all 0.2s ease 0s;
}

button:hover {
    background: #cb764d;
}

button[disabled] {
   border-color: #dbdbdb;
    color: #898989;
    cursor: not-allowed;
    background: #e5baa6;
}

a {
    color: #EE4A4B;
    text-decoration: underline;
}

a:hover {
    color: #F4812E;
}


#logo {
    background: url('logo.png') center 100% no-repeat;
    height: 3em;
    width: 3em;
    background-size: contain;
    margin-right: 30px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #333;
    background-image: url('background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}

.content {
    background: transparent;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

#selection, #top, #editor, #out, #documentation {
    padding: 20px;
}

#navigation {
    background: #000;   
    padding: 5px; 
}

#selection {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#selection .selection_group {
    border: 1px solid #535353;
    border-radius: 6px;
    padding: 3px 6px;
    margin: 5px;
}

#selection label {
    margin-right: 5px;
}

#selection .time_between {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: 0 20px;
}

#beta {
    display: inline-block;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    padding:  10px;
    margin: 0 0 0 auto;
    border-radius: 10000px;
    background: linear-gradient(15deg, #EE4A4B 0%, #F4812E 100%);
    box-shadow: 0px 0px 3px 2px #EE4A4B77;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#top > * {
    margin: 15px;
}

#property {

}

#monitor {
    position: relative;
}

#canvas {
    z-index: 1;
    background: #000;
    filter: brightness(258%);
}

#overflow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: calc(100% - 63px);
    height: calc(100% - 63px);
    border: 1px solid #ff0000cc;
    margin: 32px;
}

#monitor-sizes {
    background: #bf5421;
    border-radius: 3px;
    padding: 5px;
    margin-top: 10px;
}

.zoomfactor {
    background: #bf5421;
    border-radius: 3px;
    padding: 5px;
    margin-top: 10px;
}

#zoomfactor {
    width: 100%;
    margin: 0;
    padding: 0;
}

#controls {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#controls button {
    margin: 0;
}

#controls button:not(:last-child) {
    margin-right: 10px;
}

#controls .controls_container {
    background: #000a;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#controls .controls_container:not(:last-child) {
    margin-right: 10px;
}

#editor {
    
}

#code-container {
    position: relative;
}

#code-container.locked #code textarea {
    display: none;
}

#code-container.locked #code-lock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: not-allowed;
    z-index: 100000;
}

#minified-code-container {
    padding: 20px;
    color: #fff;
}

#code, #minified-code {
    width: 100%;
    border-radius: 3px;
    line-height: 130%;
}

#code {
    height: 300px;
}

#minified-code {
    height: 100px;
}

#code-editor-information, #code-minified-editor-information {
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: revert;
    justify-content: space-between;
}

#autocompletition-hint {
    margin: 0 10px;
}

#charactercount, #minified-charactercount {
    font-weight: bold;
}

#charactercount.limit, #minified-charactercount.limit {
    color: red;
}

#autocompletition-container {
    position: absolute;
    z-index: 10;
}

#out h3 {
    color: #fff;
}

#console {
    background: #000;
    color: #fff;
    width: 100%;
    min-height: 100px;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

#documentation {
    
}

#documentation .node {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    padding: 5px;
    border-radius: 3px;
}

#documentation .node[lib="stormworks"] {
    background: #28160e;
}

#documentation .node[lib="dev"] {
    background: #300101;
}

#documentation .node[lib="lua"] {
    background: #001a28;
}

#documentation .node .information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#documentation .node .information .left {
    width: 200px;
}

#documentation .node .information .name {
    font-weight: bold;
}

#documentation .node .information .args {
    margin: 0 6px 4px 6px;
    white-space: break-spaces;
}

#documentation .node .information .lib_title {
    border: 1px solid transparent;
    border-radius: 10000px;
    padding: 2px 6px;
    height: 1.5em;
}

#documentation .node[lib="stormworks"] .information .lib_title {
    margin: 0 0 4px 2px;
    color: #bf5421!important;
    border-color: #bf5421;
}

#documentation .node[lib="dev"] .information .lib_title {
    margin: 0 0 4px 2px;
    color: #ae6767!important;
    border-color: #ae6767;
}

#documentation .node[lib="lua"] .information .lib_title {
    margin: 0 0 4px 2px;
    color: #0194E2!important;
    border-color: #0194E2;
}

#documentation .node .information .url {
    margin-left: 6px;
}

#documentation .node .information .text {
    margin-left: 20px;
    color: #b1b1b1;
}

#documentation .node .children {
    padding-left: 20px;
    margin-top: 1em;
}

#documentation .node[ntype="object"] .name {
    color: #A6CE28;
}

#documentation .node[ntype="function"] .name {
    color: #66D9EF;
}

#documentation a {
    color: #bf5421!important;
}


/* informaton containers */
.information_container {
    background: #000000dd;
    border-radius: 3px;
    color: #fff;
    padding: 10px;
    margin: 20px;
}

.information_container h2 {
    color: #bf5421;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #444444;
}

/* information badges */
#fixed-information-badges {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000000000000;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

#fixed-information-badges > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 20px;
    border-radius: 10000px;
    background: linear-gradient(15deg, #EE4A4B 0%, #F4812E 100%);
    box-shadow: 0px 0px 3px 2px #EE4A4B77;
}

#fixed-information-badges > div.hoverable {
    cursor: pointer;
}

#fixed-information-badges > div.hoverable:hover {
    background: linear-gradient(15deg, #f16e6e 0%, #f69a57 100%)
}

#fixed-information-badges > div:not(:last-child) {
    margin-right: 20px;
}

#fixed-information-badges a {
    color: #fff;
    text-decoration: underline;  
}

#fixed-information-badges a:hover {
    color: #dbdbdb;
    text-decoration: underline;  
}

#fixed-information-badges .heading {
    font-size: 14px;
    font-weight: bold;
}

.discord, .email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.discord img {
    width: 2em;
    height: 2em;
}

.email .icon-mail {
    margin-right: 5px;
}

#fixed-information-badges #help-badge {
    background: linear-gradient(15deg, #9A8D00 0%, #4d835f 100%);
    box-shadow: 0px 0px 3px 2px #a99c1077
}

#fixed-information-badges #help-badge:hover {
    background: linear-gradient(15deg, #F2DF17 0%, #6EBC88 100%);
}

#fixed-information-badges #help-badge > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#fixed-information-badges #help-badge .icon-question {
    font-size: 38px;
}

#fixed-information-badges #help-badge .heading {
    font-size: 20px;
    margin-left: 10px;
}

#fixed-information-badges #learn-badge {
    background: linear-gradient(15deg, #0194E2 0%, #792692 100%);
    box-shadow: 1px 0px 3px 1px #0194E277;
}

#fixed-information-badges #learn-badge:hover {
    background: linear-gradient(15deg, #4db4ea 0%, #a167b2 100%);
}

#fixed-information-badges #learn-badge > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#fixed-information-badges #learn-badge .icon-books {
    font-size: 38px;
}

#fixed-information-badges #learn-badge .heading {
    font-size: 20px;
    margin-left: 10px;
}

/* help */
#help {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000c;
    z-index: 1000000000000000000000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#help-content {
    width: 90%;
    height: 90%;
    overflow-y: auto;
    position: relative;
    background: #c6c6c6;
    color: #222;
    border-radius: 6px;
    padding: 2% 1% 1%;
}

#help-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

#help-close:hover {
    color: #F4812E;
}

#help-content .section {
    background: #0002;
    padding: 1%;
    border-radius: 6px;
    margin-bottom: 20px;
}

#help-content .section > h3 {
    display: inline-block;
    margin: 0 0 10px 0;
    background: linear-gradient(10deg, #EE4A4B 0%, #F4812E 100%);
    color: #222;
    padding: 3px 12px;
    border-radius: 10000px;
}

#help-content .section > h4 {
    border-image: linear-gradient(5deg, #EE4A4B 0%, #F4812E 100%) 1 / 1px round;
    border-image-width: 0 0 2px 0;
    display: inline-block;
}


/* value_list */
.value_list {
    min-width: 200px;
    background: black;
    padding: 5px 5px 0 5px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.value_list > * {
    background: #d7d7d7;
    border-radius: 3px;
    margin-bottom: 10px;
}

.value_list > *:last-of-type {
    margin-bottom: 5px;
}

.value_list > .head {
    font-weight: bold;
    background: #000!important;
    color: #bf5421;
}

.value_list .head {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background: #bf5421;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.value_list .head button {
    background: #000;
    border: 1px solid #000;
    color:  #bf5421;
}

.value_list .head button:hover {
    background: #cb764d;
    color: #000;
}

.value_list .head .add {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 auto;
}

.value_list .head .add input {
    width: calc(100% - 23px);
    margin: 0 5px;
}

.value_list button {
    margin: 0 0 0 auto;
    padding: 0 2px 2px 2px;
    font-size: 12px;
    line-height: 0;
    height: 20px;
    width: 20px;
}

.value_list button:not(:last-of-type) {
    margin-right: 3px;
}

#property.value_list .bool, #property.value_list .number, #property.value_list .text {
    display: flex;
    flex-direction: row;
    margin: 3px 0;
    padding: 5px;
}

.value_list .bool, .value_list .number, .value_list .text {
    display: flex;
    flex-direction: column;
    margin: 3px 0;
    padding: 5px;
}

.value_list .bool .change, .value_list .number .change, .value_list .text .change {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.value_list .number .channel {
    border: 1px solid #000;
    border-radius: 10000px;
    padding: 2px;
    min-width: 1.5em;
    text-align: center;
}

.value_list .number .settings .group {
    margin-top: 10px;
}

.value_list .number .settings .group > * {
    margin-top: 5px;
}

.value_list .number .settings .group input + label {
    margin-left: 5px;
}

.value_list .number:not(.isslider) .settings {
    display: none;
}

.value_list .number .slidervalue {
    margin: 0 4px;
    min-width: 3em;
    text-align: center;
}

.value_list .number:not(.isslider) .change input[type="range"], .value_list .number:not(.isslider) .slidervalue {
    display: none;
}

.number.isslider .change input[type="number"]{
    display: none;
}

.value_list .bool input, .value_list .number input, .value_list .text input {
    margin: 0 5px 0 5px;
}

.value_list .number input, .value_list .text input {
    width: calc(100% - 70px);
}

.value_list .bool .result, .value_list .number .result, .value_list .text .result {
    margin: 0 0 0 auto;
}

/* autocompletition */

.autocompletition {
    position: relative;
    background: #3d3e38;
    color: #fff;
    min-width: 250px;
}

.autocompletition .list {
    display: flex;
    flex-direction: column;
    max-height: 10.5em;
    overflow-y: auto;
    position: relative;
}

.autocompletition .list .entry, .autocompletition .list .empty {
    padding: 3px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.autocompletition .list .empty {
    cursor: not-allowed;
    color: #EE4A4B;
}

.autocompletition .list .entry.selected {
    background: #666666!important;
}

.autocompletition .list .entry .type {
    margin-left: 15px;
    font-style: italic;
}

.autocompletition .list .entry[atype="object"] .type, .autocompletition .descriptions .description[atype="object"] .name {
    color: #A6CE28;
}

.autocompletition .list .entry[atype="function"] .type, .autocompletition .descriptions .description[atype="function"] .name {
    color: #66D9EF;
}

.autocompletition .list .entry[lib="stormworks"] {
    background: #3e2215;
}

.autocompletition .list .entry[lib="dev"] {
    background: #300101;
}

.autocompletition .list .entry[lib="lua"] {
    background: #001a28;
}

.autocompletition .descriptions {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 100px;
    max-width: 90vw;
}

.autocompletition .descriptions .description {
    display: none;
    background: #414141;
    padding: 8px;
    font-size: 120%;
    line-height: 120%;
}

.autocompletition .descriptions .description .top {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-bottom: 5px;
}

.autocompletition .descriptions .description .args {
    margin-left: 2px;
}

.autocompletition .descriptions .description .url {
    margin-bottom: 5px;
}

.autocompletition input {
    position: absolute;
    left: -99999999px;
}

.autocompletition .descriptions .description .lib_title {
    border: 1px solid transparent;
    border-radius: 100000px;
    padding: 2px 6px;
    display: inline-block;
}

.autocompletition .descriptions .description[lib="stormworks"] .lib_title {
    margin-bottom: 4px;
    color: #bf5421;
    border-color: #bf5421;
}

.autocompletition .descriptions .description[lib="dev"] .lib_title {
    margin-bottom: 4px;
    color: #ae6767;
    border-color: #ae6767;
}

.autocompletition .descriptions .description[lib="lua"] .lib_title {
    margin-bottom: 4px;
    color: #0194E2;
    border-color: #0194E2;
}

.autocompletition .description[lib="stormworks"] {
    background: #391909;
}

.autocompletition .description[lib="dev"] {
    background: #300101;
}

.autocompletition .description[lib="lua"] {
    background: #001a28;
}

.autocompletition a {
    color: #bf5421!important;
}

/* share */

.share {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.share .docreate {
    padding: 10px 25px;
}

.share .currentshare_container {
    padding: 8px;    
}

.share .docreate, .share .currentshare_container {
    background: linear-gradient(15deg, #0194E2aa 0%, #792692aa 100%);
    box-shadow: 1px 0px 3px 1px #0194E277;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    flex-direction: revert;
    justify-content: center;
    align-items: center;
}

.share .docreate:hover {
    background: linear-gradient(15deg, #4db4eaaa 0%, #a167b2aa 100%);
}

.share .more {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.share .copy_share_to_clipboard {
    background: #0004;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all 0.2s ease 0s;
    font-size: 16px;
}

.share .copy_share_to_clipboard:hover {
    background: #fff4;
    color: #000;
}

.share .currentshare {
    background: #000a;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    padding: 6px 6px;
    margin-right: 10px;
}

/* examples */

#editor-bottom-container {
    display: flex;
    flex-direction: row;
}


#editor-bottom-container > * {
    width: 100%;
}

#editor-bottom-container.show_examples > * {
    width: 48%;
}

#editor-bottom-container:not(.show_examples) #example-container {
    display: none;
}

#example-container {
    margin-left: 4%;
    background: #0007;
    border-radius: 3px;
}

#example-container #examples-heading {
    background: linear-gradient(15deg, #0194E2 0%, #792692 100%);
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

#example-container #examples-heading h3 {
    display: inline-block;
    margin: 0;
}

#example-container .close {
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

#example-container .close:hover {
    color: #002C43;
}

#examples {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px;
    max-height: 50vh;
    overflow-y: auto;
}

#examples .chapter {
    display: flex;
    flex-direction: column;
}

#examples .chapter:not(:last-child) {
    margin-bottom: 5px;
}

#examples .chapter .chapter_head {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: linear-gradient(15deg, #002c43 0%, #325668 100%);
    color: #fff;
    cursor: pointer;
    padding: 5px;
    position: relative;
}

#examples .chapter .chapter_head:after {
    position: absolute;
    top: 50%;
    right: 5px;
    font-family: 'Iconfont';
    content: '\ea43';
    transition: all 0.2s ease 0s;
    transform: translateY(-50%);
    line-height: 0;
}

#examples .chapter.open .chapter_head:after {
    transform: translateY(-50%) rotate(180deg);
}

#examples .chapter .chapter_body {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#examples .chapter:not(.open) .chapter_body {
    display: none;
    background: #7f95a1;
}

#examples .chapter .example {
    display: flex;
    flex-direction: column;
}

#examples .chapter .example:not(:last-child) {
    margin-bottom: 5px;
}

#examples .chapter .example .example_head {
    position: relative;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #;
    background: linear-gradient(15deg, #bf5421 0%, #cb764d 100%);
    cursor: pointer;
    padding: 5px;
}

#examples .chapter .example .example_head:after {
    position: absolute;
    top: 50%;
    right: 5px;
    font-family: 'Iconfont';
    content: '\ea43';
    transition: all 0.2s ease 0s;
    transform: translateY(-50%);
    line-height: 0;
}

#examples .chapter .example.open .example_head:after {
    transform: translateY(-50%) rotate(180deg);
}

#examples .chapter .example .example_body {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: #fbd9c0;
}

#examples .chapter .example:not(.open) .example_body {
   display: none;
}

#examples .example_code {
    border: 3px solid #202020;
    box-sizing: content-box;
    border-radius: 3px;
}


/* pastebin overlay */

.pastebin_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background: #000c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pastebin_overlay .inner {
    display: flex;
    flex-direction: column;
}

.pastebin_overlay .circle {
    background: linear-gradient(15deg, #F2DF17aa 0%, #6EBC88aa 100%);
    box-shadow: 0px 0px 5px 3px #F2DF1777;
    color: #000;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    max-width: 250px;
    height: 80vw;
    max-height: 250px;
    padding: 20%;
    animation-duration: 3s;
    animation-name: circle;
    animation-iteration-count: infinite;
}

.pastebin_overlay .circle p {
    text-align: center;
    line-height: 150%;
    font-weight: bold;
    animation-duration: 3s;
    animation-name: anticircle;
    animation-iteration-count: infinite;
}

.pastebin_overlay .circle [dot] {
    animation-iteration-count: infinite;
    animation-duration: 2s;    
}

.pastebin_overlay .circle [dot="1"] {
    animation-name: dot1;
}

.pastebin_overlay .circle [dot="2"] {
    animation-name: dot2;
}

.pastebin_overlay .circle [dot="3"] {
    animation-name: dot3;
}

@keyframes circle {
    0% { background-color: #F2DF17 }
    25% { background-color: #6EBC88 }
    50% { background-color: #EE4A4B }
    75% { background-color: #F4812E}
    100% { background-color: #F2DF17 }
}

@keyframes dot1 {
    0% { opacity: 0 }
    25% { opacity: 0 }    
    50% { opacity: 1 }
    75% { opacity: 1 }
    100% { opacity: 1 }
}

@keyframes dot2 {
    0% { opacity: 0 }
    25% { opacity: 0 }    
    50% { opacity: 0 }
    75% { opacity: 1 }
    100% { opacity: 1 }
}

@keyframes dot3 {
    0% { opacity: 0 }
    25% { opacity: 0 }    
    50% { opacity: 0 }
    75% { opacity: 0 }
    100% { opacity: 1 }
}




/* media queries */

@media (max-width: 1023px) {
    #editor-bottom-container {
        flex-direction: column;
    }

    #editor-bottom-container.show_examples > * {
        width: 100%;
    }

    #example-container {
        margin-left: 0;
    }
}

@media (max-width: 767) {
    
}

@media (max-width: 359) {
    
}