/* line 1, ../compass/src/_variables.scss */
:root {
  --background-accent-gradient: linear-gradient(10deg, #be3b3c 0%, #c36724 100%);
  --background-grey-gradient: linear-gradient(10deg, #666 0%, #888 100%);
}

@font-face {
  font-family: "Screen Mono";
  src: url("../fonts/CG_pixel_4x5_mono.ttf");
}
/* line 6, ../compass/src/_base.scss */
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}

/* line 15, ../compass/src/_base.scss */
body, * {
  box-sizing: border-box;
}

/* line 19, ../compass/src/_base.scss */
button {
  background: linear-gradient(15deg, #EE4A4B 0%, #F4812E 100%);
  border: 1px solid #bf5421;
  border-radius: 3px;
  color: #fff;
  padding: 8px 24px;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 20px;
  transition: all 0.2s ease 0s;
}
/* line 30, ../compass/src/_base.scss */
button.special_button {
  background: linear-gradient(13deg, #930851 0%, #c63a84 100%);
  border: 1px solid #b80a66;
}

/* line 36, ../compass/src/_base.scss */
button:hover {
  background: linear-gradient(15deg, #be3b3c 0%, #c36724 100%);
}
/* line 39, ../compass/src/_base.scss */
button:hover.special_button {
  background: linear-gradient(13deg, #490428 0%, #930851 100%);
}

/* line 44, ../compass/src/_base.scss */
button[disabled] {
  border-color: #dbdbdb;
  color: #898989;
  cursor: not-allowed;
  background: #e5baa6;
}
/* line 50, ../compass/src/_base.scss */
button[disabled].special_button {
  background: #db84b2;
}

/* line 55, ../compass/src/_base.scss */
a {
  color: #EE4A4B;
  text-decoration: underline;
}

/* line 60, ../compass/src/_base.scss */
a:hover {
  color: #F4812E;
}

/* line 1, ../compass/src/_navigation.scss */
#logo {
  background: url("../images/logo.png") center 100% no-repeat;
  height: 3em;
  width: 3em;
  background-size: contain;
  margin-right: 30px;
}

/* line 9, ../compass/src/_navigation.scss */
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #333;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 23, ../compass/src/_navigation.scss */
#main-content {
  background: transparent;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 150px;
}

/* line 31, ../compass/src/_navigation.scss */
#navigation {
  position: sticky;
  top: 0;
  z-index: 100000000;
  background: #000;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 43, ../compass/src/_navigation.scss */
#beta, #offline, #download-offline {
  display: inline-block;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
  margin: 0 0 0 auto;
  border-radius: 10000px;
}

/* line 53, ../compass/src/_navigation.scss */
#giveaway-hint {
  background: url("../images/giveaway_background_small.jpg");
  background-size: cover;
  background-position: center bottom;
  box-shadow: 0px 0px 3px 2px #67096A78;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10000px;
  color: #fff;
  font-weight: bold;
}

/* line 68, ../compass/src/_navigation.scss */
#beta {
  background: linear-gradient(15deg, #EE4A4B 0%, #F4812E 100%);
  box-shadow: 0px 0px 3px 2px #EE4A4B77;
}

/* line 73, ../compass/src/_navigation.scss */
#offline {
  background: linear-gradient(15deg, #0194E2 0%, #792692 100%);
  box-shadow: 1px 0px 3px 1px #0194E277;
}

/* line 78, ../compass/src/_navigation.scss */
#download-offline {
  background: linear-gradient(15deg, #9A8D00 0%, #4d835f 100%);
  box-shadow: 0px 0px 3px 2px #a99c1077;
  text-decoration: none;
}

/* mobile menu */
/* line 88, ../compass/src/_navigation.scss */
#mobile-menu {
  display: none;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 1000000000000;
}
/* line 98, ../compass/src/_navigation.scss */
#mobile-menu #mobile-menu-close-sidebar {
  width: 100%;
  background: #fff7;
}
/* line 103, ../compass/src/_navigation.scss */
#mobile-menu #mobile-menu-inner {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 350px;
  height: 100%;
  min-height: 100vh;
  background: #0a0a0a;
  color: #ddd;
  padding-bottom: 10px;
}
/* line 115, ../compass/src/_navigation.scss */
#mobile-menu .mobile_menu_logo {
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000;
}
/* line 123, ../compass/src/_navigation.scss */
#mobile-menu .mobile_menu_logo img {
  height: 70%;
  width: auto;
}
/* line 129, ../compass/src/_navigation.scss */
#mobile-menu .menu_group {
  display: flex;
  flex-direction: column;
  background: #0a0a0a;
}
/* line 134, ../compass/src/_navigation.scss */
#mobile-menu .menu_group > * {
  padding: 10px;
}
/* line 138, ../compass/src/_navigation.scss */
#mobile-menu .menu_group > :not(.menu_group_title) {
  padding-left: 25px;
}
/* line 143, ../compass/src/_navigation.scss */
#mobile-menu .menu_group_title {
  background: #000;
  border-bottom: 2px solid #111;
}
/* line 148, ../compass/src/_navigation.scss */
#mobile-menu #learn-menu-entry span, #mobile-menu #help-menu-entry span {
  cursor: pointer;
  padding: 4px 10px;
  border-radius: 10000px;
  font-weight: bold;
}
/* line 155, ../compass/src/_navigation.scss */
#mobile-menu #learn-menu-entry span {
  background: linear-gradient(15deg, #0194E2 0%, #792692 100%);
  box-shadow: 1px 0px 3px 1px #0194E277;
}
/* line 160, ../compass/src/_navigation.scss */
#mobile-menu #help-menu-entry span {
  background: linear-gradient(15deg, #9A8D00 0%, #4d835f 100%);
  box-shadow: 0px 0px 3px 2px #a99c1077;
}

/* line 167, ../compass/src/_navigation.scss */
#mobile-menu-open {
  background: url("../images/menu_icon.png");
  background-size: cover;
  height: 2em;
  width: 2em;
  margin: 0.5em;
  cursor: pointer;
}

/* line 5, ../compass/src/http_localhost_extension.scss */
.bordered_container {
  margin: 30px;
  padding: 30px;
  border: 3px solid #000a;
  border-radius: 20px;
  background: #0007;
  color: #fff;
}
/* line 13, ../compass/src/http_localhost_extension.scss */
.bordered_container .code {
  margin: 5px;
}
/* line 16, ../compass/src/http_localhost_extension.scss */
.bordered_container .code.inline_code {
  margin: 0 5px;
  display: inline-block;
  vertical-align: bottom;
}
/* line 24, ../compass/src/http_localhost_extension.scss */
.bordered_container ul li:not(:last-of-type), .bordered_container ol li:not(:last-of-type) {
  margin-bottom: 0.5em;
}

/* line 30, ../compass/src/http_localhost_extension.scss */
.browser_extensions_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 1023px) {
  /* line 3, ../compass/src/_media.scss */
  #editor-bottom-container {
    flex-direction: column;
  }
  /* line 5, ../compass/src/_media.scss */
  #editor-bottom-container.show_examples > * {
    width: 100%;
  }

  /* line 10, ../compass/src/_media.scss */
  #example-container {
    margin-left: 0;
  }

  /* line 14, ../compass/src/_media.scss */
  #mobile-menu-open {
    display: block !important;
  }

  /* line 18, ../compass/src/_media.scss */
  #fixed-information-badges {
    display: none;
  }

  /* line 22, ../compass/src/_media.scss */
  #download-offline {
    display: none;
  }
}
