/* line 3, ../compass/src/incognito.scss */
body.incognito #navigation {
  display: none;
}
/* line 7, ../compass/src/incognito.scss */
body.incognito #fixed-information-badges {
  display: none;
}
/* line 11, ../compass/src/incognito.scss */
body.incognito #background {
  background-image: none;
}
/* line 15, ../compass/src/incognito.scss */
body.incognito button {
  background: #444;
  border: 1px solid #444;
}
/* line 19, ../compass/src/incognito.scss */
body.incognito button:hover {
  background: #888;
}
/* line 23, ../compass/src/incognito.scss */
body.incognito button[disabled] {
  background: #222;
  color: #666;
}
