/* element sizes */
/* colors */
/* css variables */
/* line 27, ../compass/src/_variables.scss */
:root {
  --background-accent-gradient: linear-gradient(10deg, #2b4a6a 0%, #446483 100%);
  --background-strong-accent-gradient: linear-gradient(10deg, #2b5a88 0%, #5e8dbb 100%);
  --background-grey-gradient: linear-gradient(10deg, #666 0%, #888 100%);
}

@font-face {
  font-family: "Screen Mono";
  src: url("../fonts/CG_pixel_4x5_mono.ttf");
}
/* line 6, ../compass/src/_base.scss */
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}

/* line 15, ../compass/src/_base.scss */
body, * {
  box-sizing: border-box;
}

/* line 19, ../compass/src/_base.scss */
button {
  background: linear-gradient(15deg, #2b4a6a 0%, #446483 100%);
  border: 1px solid #305376;
  border-radius: 3px;
  color: #fff;
  padding: 6px 18px;
  cursor: pointer;
  margin-bottom: 30px;
  font-size: 16px;
  transition: all 0.2s ease 0s;
}
/* line 30, ../compass/src/_base.scss */
button.special_button {
  background: linear-gradient(13deg, #930851 0%, #c63a84 100%);
  border: 1px solid #b80a66;
}

/* line 36, ../compass/src/_base.scss */
button:hover {
  background: linear-gradient(15deg, #446483 0%, #6e869f 100%);
}
/* line 39, ../compass/src/_base.scss */
button:hover.special_button {
  background: linear-gradient(13deg, #490428 0%, #930851 100%);
}

/* line 44, ../compass/src/_base.scss */
button[disabled] {
  border-color: #dbdbdb;
  color: #898989;
  cursor: not-allowed;
  background: #8297ac;
}
/* line 50, ../compass/src/_base.scss */
button[disabled].special_button {
  background: #db84b2;
}

/* line 55, ../compass/src/_base.scss */
a {
  color: #EE4A4B;
  text-decoration: underline;
}

/* line 60, ../compass/src/_base.scss */
a:hover {
  color: #F4812E;
}

/* line 1, ../compass/src/_util.scss */
.highlighted {
  border: 1px solid red !important;
}

/* line 5, ../compass/src/_util.scss */
[view].highlighted {
  border: none !important;
  background: red !important;
}

/* line 1, ../compass/src/_share.scss */
.share {
  display: inline-flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* line 8, ../compass/src/_share.scss */
.share .docreate, .share .currentshare_container {
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  flex-direction: revert;
  justify-content: center;
  align-items: center;
}
/* line 19, ../compass/src/_share.scss */
.share .currentshare_container {
  padding: 8px;
}
/* line 23, ../compass/src/_share.scss */
.share .currentshare {
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "souce-code-pro", monospace;
}
/* line 27, ../compass/src/_share.scss */
.share .more {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
/* line 33, ../compass/src/_share.scss */
.share .copy_share_to_clipboard {
  background: #0004;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.2s ease 0s;
  font-size: 16px;
}
/* line 41, ../compass/src/_share.scss */
.share .copy_share_to_clipboard:hover {
  background: #fff4;
  color: #000;
}
/* line 47, ../compass/src/_share.scss */
.share .currentshare {
  background: #000a;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  padding: 6px 6px;
  margin-right: 10px;
}

/* line 1, ../compass/src/_dialog.scss */
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100000000000000;
  background: #000c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* line 14, ../compass/src/_dialog.scss */
.dialog .inner {
  display: flex;
  flex-direction: column;
  background: #e3e3e3;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #555;
}
/* line 23, ../compass/src/_dialog.scss */
.dialog .title {
  margin: 0;
  color: #bf5421;
  font-weight: bold;
  text-align: center;
}
/* line 30, ../compass/src/_dialog.scss */
.dialog .message {
  margin: 20px 0;
}
/* line 34, ../compass/src/_dialog.scss */
.dialog .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* line 39, ../compass/src/_dialog.scss */
.dialog .buttons button {
  margin: 0 10px;
}

/* line 3, ../compass/src/_editor.scss */
.code_container .code_information {
  padding: 3px 8px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 11, ../compass/src/_editor.scss */
.code_container .charactercount {
  font-weight: bold;
  padding: 13px 8px 11px;
  line-height: 0;
  border-radius: 10000px;
}
/* line 17, ../compass/src/_editor.scss */
.code_container .charactercount.limit {
  background: #ae0000;
}

/* line 1, ../compass/src/_viewable_documentation.scss */
.ide [viewable="viewable_documentation"] {
  padding: 5px;
}
/* line 5, ../compass/src/_viewable_documentation.scss */
.ide [viewable="viewable_documentation"] .node {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 3px;
  background: #151719;
  color: #eaedf1;
}
/* line 13, ../compass/src/_viewable_documentation.scss */
.ide [viewable="viewable_documentation"] .node:not(:last-child) {
  margin-bottom: 5px;
}
/* line 19, ../compass/src/_viewable_documentation.scss */
.ide [viewable="viewable_documentation"] .node.contracted .bottom, .ide [viewable="viewable_documentation"] .node.contracted .children {
  display: none;
}
/* line 24, ../compass/src/_viewable_documentation.scss */
.ide [viewable="viewable_documentation"] .node .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 6px;
  cursor: pointer;
}
/* line 31, ../compass/src/_viewable_documentation.scss */
.ide [viewable="viewable_documentation"] .node .top .definition {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}
/* line 40, ../compass/src/_viewable_documentation.scss */
.ide [viewable="viewable_documentation"] .node .top .definition .args {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  color: #e87704;
}
/* line 49, ../compass/src/_viewable_documentation.scss */
.ide [viewable="viewable_documentation"] .node .top .lib {
  border: 1px solid;
  border-radius: 10000px;
  padding: 2px 8px;
  white-space: nowrap;
  height: calc(1em + 2px * 4);
}
/* line 58, ../compass/src/_viewable_documentation.scss */
.ide [viewable="viewable_documentation"] .node .bottom {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 10px 10px;
}
/* line 63, ../compass/src/_viewable_documentation.scss */
.ide [viewable="viewable_documentation"] .node .bottom .url {
  margin-bottom: 8px;
}
/* line 72, ../compass/src/_viewable_documentation.scss */
.ide [viewable="viewable_documentation"] .node .children {
  padding-left: 10px;
}
/* line 78, ../compass/src/_viewable_documentation.scss */
.ide [viewable="viewable_documentation"] .node[lib="stormworks"] .lib {
  color: #0081cc;
  border-color: #0081cc;
}
/* line 86, ../compass/src/_viewable_documentation.scss */
.ide [viewable="viewable_documentation"] .node[lib="dev"] .lib {
  color: #b9085b !important;
  border-color: #b9085b;
}
/* line 94, ../compass/src/_viewable_documentation.scss */
.ide [viewable="viewable_documentation"] .node[lib="lua"] .lib {
  color: #44b511;
  border-color: #44b511;
}
/* line 101, ../compass/src/_viewable_documentation.scss */
.ide [viewable="viewable_documentation"] .node[ntype="object"] .name {
  color: #A6CE28;
}
/* line 107, ../compass/src/_viewable_documentation.scss */
.ide [viewable="viewable_documentation"] .node[ntype="function"] .name {
  color: #66D9EF;
}

/* line 2, ../compass/src/_viewable_console.scss */
[viewable="viewable_console"] #console {
  position: relative;
  background: #000;
  border-radius: 3px;
}
/* line 7, ../compass/src/_viewable_console.scss */
[viewable="viewable_console"] #console #console-inner {
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow: scroll;
  font-family: monospace;
}
/* line 16, ../compass/src/_viewable_console.scss */
[viewable="viewable_console"] #console .console_clear {
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
/* line 24, ../compass/src/_viewable_console.scss */
[viewable="viewable_console"] #console .console_clear:hover {
  color: #be3b3c;
}

/* line 2, ../compass/src/_viewable_monitor.scss */
[viewable="viewable_monitor"] #render-canvas {
  display: none;
}
/* line 6, ../compass/src/_viewable_monitor.scss */
[viewable="viewable_monitor"] #monitor {
  position: relative;
}
/* line 10, ../compass/src/_viewable_monitor.scss */
[viewable="viewable_monitor"] #overflow {
  position: absolute;
  top: 31px;
  left: 31px;
  z-index: 2;
  width: calc(100% - 62px);
  height: calc(100% - 62px);
  border: 1px solid #ff0000cc;
  margin: 0;
}
/* line 21, ../compass/src/_viewable_monitor.scss */
[viewable="viewable_monitor"] #canvas {
  z-index: 1;
  background: #000;
  filter: brightness(258%);
}

/* line 1, ../compass/src/_navigation.scss */
#logo {
  background: url("../images/logo.png") center 100% no-repeat;
  height: 3em;
  width: 3em;
  background-size: contain;
  margin-right: 30px;
}

/* line 9, ../compass/src/_navigation.scss */
#navigation {
  position: sticky;
  top: 0;
  height: 75px;
  z-index: 100000000;
  background: #000;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 23, ../compass/src/_navigation.scss */
#beta, #offline, #download-offline {
  display: inline-block;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
  margin: 0 0 0 auto;
  border-radius: 10000px;
}

/* line 33, ../compass/src/_navigation.scss */
#giveaway-hint {
  background: url("../images/giveaway_background_small.jpg");
  background-size: cover;
  background-position: center bottom;
  box-shadow: 0px 0px 3px 2px #67096A78;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10000px;
  color: #fff;
  font-weight: bold;
}

/* line 48, ../compass/src/_navigation.scss */
#beta {
  background: linear-gradient(15deg, #EE4A4B 0%, #F4812E 100%);
  box-shadow: 0px 0px 3px 2px #EE4A4B77;
}

/* line 53, ../compass/src/_navigation.scss */
#offline {
  background: linear-gradient(15deg, #0194E2 0%, #792692 100%);
  box-shadow: 1px 0px 3px 1px #0194E277;
}

/* line 58, ../compass/src/_navigation.scss */
#download-offline {
  background: linear-gradient(15deg, #9A8D00 0%, #4d835f 100%);
  box-shadow: 0px 0px 3px 2px #a99c1077;
  text-decoration: none;
}

/* mobile menu */
/* line 68, ../compass/src/_navigation.scss */
#mobile-menu {
  display: none;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 1000000000000;
}
/* line 78, ../compass/src/_navigation.scss */
#mobile-menu #mobile-menu-close-sidebar {
  width: 100%;
  background: #fff7;
}
/* line 83, ../compass/src/_navigation.scss */
#mobile-menu #mobile-menu-inner {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 350px;
  height: 100%;
  min-height: 100vh;
  background: #0a0a0a;
  color: #ddd;
  padding-bottom: 10px;
}
/* line 95, ../compass/src/_navigation.scss */
#mobile-menu .mobile_menu_logo {
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000;
}
/* line 103, ../compass/src/_navigation.scss */
#mobile-menu .mobile_menu_logo img {
  height: 70%;
  width: auto;
}
/* line 109, ../compass/src/_navigation.scss */
#mobile-menu .menu_group {
  display: flex;
  flex-direction: column;
  background: #0a0a0a;
}
/* line 114, ../compass/src/_navigation.scss */
#mobile-menu .menu_group > * {
  padding: 10px;
}
/* line 118, ../compass/src/_navigation.scss */
#mobile-menu .menu_group > :not(.menu_group_title) {
  padding-left: 25px;
}
/* line 123, ../compass/src/_navigation.scss */
#mobile-menu .menu_group_title {
  background: #000;
  border-bottom: 2px solid #111;
}
/* line 128, ../compass/src/_navigation.scss */
#mobile-menu #learn-menu-entry span, #mobile-menu #help-menu-entry span {
  cursor: pointer;
  padding: 4px 10px;
  border-radius: 10000px;
  font-weight: bold;
}
/* line 135, ../compass/src/_navigation.scss */
#mobile-menu #learn-menu-entry span {
  background: linear-gradient(15deg, #0194E2 0%, #792692 100%);
  box-shadow: 1px 0px 3px 1px #0194E277;
}
/* line 140, ../compass/src/_navigation.scss */
#mobile-menu #help-menu-entry span {
  background: linear-gradient(15deg, #9A8D00 0%, #4d835f 100%);
  box-shadow: 0px 0px 3px 2px #a99c1077;
}

/* line 147, ../compass/src/_navigation.scss */
#mobile-menu-open {
  background: url("../images/menu_icon.png");
  background-size: cover;
  height: 2em;
  width: 2em;
  margin: 0.5em;
  cursor: pointer;
}

/* value_list */
/* line 3, ../compass/src/_value_list.scss */
.ide .value_list {
  min-width: 200px;
  color: #151719;
  padding: 5px 5px 0 5px;
  margin-bottom: 10px;
  border-radius: 6px;
}
/* line 10, ../compass/src/_value_list.scss */
.ide .value_list > * {
  background: #d7d7d7;
  border-radius: 3px;
  margin-bottom: 10px;
}
/* line 15, ../compass/src/_value_list.scss */
.ide .value_list > *:last-of-type {
  margin-bottom: 5px;
}
/* line 20, ../compass/src/_value_list.scss */
.ide .value_list > .head {
  font-weight: bold;
  background: #000 !important;
  color: #bf5421;
}
/* line 26, ../compass/src/_value_list.scss */
.ide .value_list .head {
  display: flex;
  flex-direction: row;
  padding: 5px;
  background: var(--background-accent-gradient);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 34, ../compass/src/_value_list.scss */
.ide .value_list .head button {
  background: #000;
  border: 1px solid #000;
  color: #bf5421;
}
/* line 39, ../compass/src/_value_list.scss */
.ide .value_list .head button:hover {
  background: #cb764d;
  color: #000;
}
/* line 45, ../compass/src/_value_list.scss */
.ide .value_list .head .add {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 auto;
}
/* line 50, ../compass/src/_value_list.scss */
.ide .value_list .head .add input {
  width: calc(100% - 23px);
  margin: 0 5px;
}
/* line 57, ../compass/src/_value_list.scss */
.ide .value_list button {
  margin: 0 0 0 auto;
  padding: 0 2px 2px 2px;
  font-size: 12px;
  font-weight: bold;
  line-height: 0;
  height: 20px;
  width: 20px;
}
/* line 66, ../compass/src/_value_list.scss */
.ide .value_list button:not(:last-of-type) {
  margin-right: 3px;
}
/* line 70, ../compass/src/_value_list.scss */
.ide .value_list button + button {
  margin-left: 0;
}
/* line 76, ../compass/src/_value_list.scss */
.ide .value_list .bool .change, .ide .value_list .number .change, .ide .value_list .text .change {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/* line 83, ../compass/src/_value_list.scss */
.ide .value_list .number .channel {
  border: 1px solid #000;
  border-radius: 10000px;
  padding: 2px;
  min-width: 1.5em;
  text-align: center;
}
/* line 91, ../compass/src/_value_list.scss */
.ide .value_list .settings .group {
  margin-top: 10px;
}
/* line 94, ../compass/src/_value_list.scss */
.ide .value_list .settings .group select {
  margin-left: 10px;
}
/* line 98, ../compass/src/_value_list.scss */
.ide .value_list .settings .group > * {
  margin-top: 5px;
}
/* line 102, ../compass/src/_value_list.scss */
.ide .value_list .settings .group input + label {
  margin-left: 5px;
}
/* line 107, ../compass/src/_value_list.scss */
.ide .value_list .number:not(.isslider) .settings {
  display: none;
}
/* line 111, ../compass/src/_value_list.scss */
.ide .value_list .bool .settings {
  display: none;
}
/* line 115, ../compass/src/_value_list.scss */
.ide .value_list .number .slidervalue {
  margin: 0 4px;
  min-width: 6em;
  text-align: center;
}
/* line 121, ../compass/src/_value_list.scss */
.ide .value_list .number:not(.isslider) .change input[type="range"], .ide .value_list .number:not(.isslider) .slidervalue {
  display: none;
}
/* line 125, ../compass/src/_value_list.scss */
.ide .value_list .number.isslider .change input[type="number"] {
  display: none;
}
/* line 129, ../compass/src/_value_list.scss */
.ide .value_list .bool input, .ide .value_list .number input, .ide .value_list .text input {
  margin: 0 5px 0 5px;
}
/* line 133, ../compass/src/_value_list.scss */
.ide .value_list .number .change input[type="number"], .ide .value_list .number .change input[type="text"] {
  width: calc(50% - 70px);
}
/* line 137, ../compass/src/_value_list.scss */
.ide .value_list .number .settings input[type="number"], .ide .value_list .number .settings input[type="text"], .ide .value_list .text input[type="text"] {
  width: calc(100% - 70px);
}
/* line 141, ../compass/src/_value_list.scss */
.ide .value_list .bool .result, .ide .value_list .number .result, .ide .value_list .text .result {
  margin: 0 0 0 auto;
}
/* line 145, ../compass/src/_value_list.scss */
.ide .value_list .user_label_container {
  display: inline-block;
  position: relative;
}
/* line 149, ../compass/src/_value_list.scss */
.ide .value_list .user_label_container .user_label {
  background: transparent;
  border: none;
  padding: 3px 4px 3px 23px;
  cursor: text;
  transition: all 0.2s ease 0s;
  width: calc(100% - 5px) !important;
}
/* line 158, ../compass/src/_value_list.scss */
.ide .value_list .user_label_container:after {
  content: '\e905';
  font-family: iconfont;
  position: absolute;
  left: 8px;
  cursor: text;
}
/* line 167, ../compass/src/_value_list.scss */
.ide .value_list .user_label_container:hover:after {
  color: #c36724;
}
/* line 171, ../compass/src/_value_list.scss */
.ide .value_list .user_label_container:hover .user_label {
  background: #fff;
}
/* line 180, ../compass/src/_value_list.scss */
.ide #property.value_list .bool, .ide #property.value_list .number, .ide #property.value_list .text {
  display: flex;
  flex-direction: row;
  margin: 3px 0;
  padding: 5px;
}
/* line 187, ../compass/src/_value_list.scss */
.ide .value_list .bool, .ide .value_list .number, .ide .value_list .text {
  display: flex;
  flex-direction: column;
  margin: 3px 0;
  padding: 5px;
}
/* line 194, ../compass/src/_value_list.scss */
.ide #output.value_list .bool, .ide #output.value_list .number, .ide #output.value_list .text {
  flex-direction: row;
}

/* line 3, ../compass/src/_view.scss */
.ide [view] {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: calc( ( 100vh - 75px - 60px ) / 2);
  background: #151719;
  color: #eaedf1;
  padding: 6px;
}
/* line 14, ../compass/src/_view.scss */
.ide [view] .select {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2em;
  background: #151719;
  margin-bottom: 6px;
}
/* line 22, ../compass/src/_view.scss */
.ide [view] .select [select-viewable] {
  background: #1c3146;
  color: #eaedf1;
  cursor: pointer;
  padding: 0.25em 0.5em;
}
/* line 28, ../compass/src/_view.scss */
.ide [view] .select [select-viewable] .moveto {
  margin-left: 10px;
  opacity: 0;
  transition: all 0.2s ease 0s;
}
/* line 34, ../compass/src/_view.scss */
.ide [view] .select [select-viewable]:hover .moveto {
  opacity: 1;
}
/* line 38, ../compass/src/_view.scss */
.ide [view] .select [select-viewable] .moveto_choose {
  box-shadow: 1px 1px 2px 2px #4b4b4b;
  background: #eaedf1;
  color: #151719;
  z-index: 100;
}
/* line 44, ../compass/src/_view.scss */
.ide [view] .select [select-viewable] .moveto_choose .header {
  padding: 6px 6px;
  background: #151719;
  color: #eaedf1;
  font-weight: bold;
}
/* line 51, ../compass/src/_view.scss */
.ide [view] .select [select-viewable] .moveto_choose .entry {
  padding: 6px 6px;
  transition: all 0.2s ease 0s;
}
/* line 55, ../compass/src/_view.scss */
.ide [view] .select [select-viewable] .moveto_choose .entry:hover {
  background: #7e7e7e;
}
/* line 59, ../compass/src/_view.scss */
.ide [view] .select [select-viewable] .moveto_choose .entry:not(:last-child) {
  border-bottom: 1px solid #151719;
}
/* line 66, ../compass/src/_view.scss */
.ide [view] .select [select-viewable]:not(:last-child) {
  margin-right: 4px;
}
/* line 70, ../compass/src/_view.scss */
.ide [view] .select [select-viewable][select="true"] {
  background: #eaedf1;
  color: #151719;
}
/* line 76, ../compass/src/_view.scss */
.ide [view] .viewable_container {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #363b40;
  border-radius: 3px;
  padding: 4px;
}
/* line 86, ../compass/src/_view.scss */
.ide [viewable][visible="false"] {
  display: none;
}

/* line 15, ../compass/src/style_client.scss */
.ide {
  width: 100%;
  height: calc(100vh - 75px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* line 22, ../compass/src/style_client.scss */
.ide .ide_bar {
  background: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
}
/* line 29, ../compass/src/style_client.scss */
.ide .ide_bar .ide_controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
/* line 36, ../compass/src/style_client.scss */
.ide .ide_bar .ide_controls .controls_group {
  padding: 5px;
  display: inline-block;
  color: #eaedf1;
}
/* line 41, ../compass/src/style_client.scss */
.ide .ide_bar .ide_controls .controls_group:not(:last-child) {
  border-right: 1px solid #eaedf1;
  padding-right: 25px;
}
/* line 46, ../compass/src/style_client.scss */
.ide .ide_bar .ide_controls .controls_group button {
  margin: 0;
  padding: 6px 10px;
}
/* line 51, ../compass/src/style_client.scss */
.ide .ide_bar .ide_controls .controls_group button:not(:last-child) {
  margin-right: 10px;
}
/* line 55, ../compass/src/style_client.scss */
.ide .ide_bar .ide_controls .controls_group:not(:last-child) {
  margin-right: 25px;
}
/* line 60, ../compass/src/style_client.scss */
.ide .ide_bar .ide_controls #save {
  transition: all 0.5s ease 0s;
}
/* line 63, ../compass/src/style_client.scss */
.ide .ide_bar .ide_controls #save.saved {
  background: #4d835f;
  border-color: #fff;
  color: #fff;
}
/* line 72, ../compass/src/style_client.scss */
.ide .ide_flex_view {
  position: relative;
  width: 100%;
  height: calc(100vh - 75px - 60px);
}
/* line 78, ../compass/src/style_client.scss */
.ide [splitter] {
  position: absolute;
  background: var(--background-strong-accent-gradient);
  border: 2px solid #151719;
  z-index: 1000;
  /* hack so the mouse is not leaving the splitter directly */
}
/* line 85, ../compass/src/style_client.scss */
.ide [splitter]:after {
  display: none;
  content: ' ';
  position: absolute;
  top: -1000px;
  left: -1000px;
  width: calc(100% + 2000px);
  height: calc(100% + 2000px);
}
/* line 96, ../compass/src/style_client.scss */
.ide [splitter][draging="true"]:after {
  display: initial;
}
/* line 100, ../compass/src/style_client.scss */
.ide [splitter="vertical"] {
  left: calc(50vw - (6px / 2));
  top: 0;
  height: calc(100vh - 75px - 60px);
  width: 8px;
  cursor: e-resize;
}
/* line 108, ../compass/src/style_client.scss */
.ide [splitter="horizontal_left"], .ide [splitter="horizontal_right"] {
  top: calc( ( 100vh - 75px - 60px ) / 2 - (6px / 2));
  height: 6px;
  width: calc(50vw - (6px / 2));
  cursor: n-resize;
}
/* line 115, ../compass/src/style_client.scss */
.ide [splitter="horizontal_left"] {
  left: 0;
}
/* line 119, ../compass/src/style_client.scss */
.ide [splitter="horizontal_right"] {
  left: calc(50vw + (6px / 2));
}

/* only temporary: */
/* line 125, ../compass/src/style_client.scss */
#mobile-menu, #fixed-information-badges, #example-container {
  display: none;
}
