/* element sizes */
/* colors */
/* css variables */
/* line 27, ../compass/src/_variables.scss */
:root {
  --background-accent-gradient: linear-gradient(10deg, #2b4a6a 0%, #446483 100%);
  --background-strong-accent-gradient: linear-gradient(10deg, #2b5a88 0%, #5e8dbb 100%);
  --background-grey-gradient: linear-gradient(10deg, #666 0%, #888 100%);
}

@font-face {
  font-family: "Screen Mono";
  src: url("../fonts/CG_pixel_4x5_mono.ttf");
}
/* line 6, ../compass/src/_base.scss */
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}

/* line 15, ../compass/src/_base.scss */
body, * {
  box-sizing: border-box;
}

/* line 19, ../compass/src/_base.scss */
button {
  background: linear-gradient(15deg, #2b4a6a 0%, #446483 100%);
  border: 1px solid #305376;
  border-radius: 3px;
  color: #fff;
  padding: 6px 18px;
  cursor: pointer;
  margin-bottom: 30px;
  font-size: 16px;
  transition: all 0.2s ease 0s;
}
/* line 30, ../compass/src/_base.scss */
button.special_button {
  background: linear-gradient(13deg, #930851 0%, #c63a84 100%);
  border: 1px solid #b80a66;
}

/* line 36, ../compass/src/_base.scss */
button:hover {
  background: linear-gradient(15deg, #446483 0%, #6e869f 100%);
}
/* line 39, ../compass/src/_base.scss */
button:hover.special_button {
  background: linear-gradient(13deg, #490428 0%, #930851 100%);
}

/* line 44, ../compass/src/_base.scss */
button[disabled] {
  border-color: #dbdbdb;
  color: #898989;
  cursor: not-allowed;
  background: #8297ac;
}
/* line 50, ../compass/src/_base.scss */
button[disabled].special_button {
  background: #db84b2;
}

/* line 55, ../compass/src/_base.scss */
a {
  color: #0081cc;
  text-decoration: underline;
}

/* line 60, ../compass/src/_base.scss */
a:hover {
  color: #1a8ed1;
}

/* line 1, ../compass/src/_util.scss */
.highlighted {
  border: 1px solid red !important;
}

/* line 5, ../compass/src/_util.scss */
[view].highlighted {
  border: none !important;
  background: red !important;
}

/* line 1, ../compass/src/_share.scss */
.share {
  display: inline-flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* line 8, ../compass/src/_share.scss */
.share .docreate, .share .currentshare_container {
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  flex-direction: revert;
  justify-content: center;
  align-items: center;
}
/* line 19, ../compass/src/_share.scss */
.share .currentshare_container {
  padding: 8px;
}
/* line 23, ../compass/src/_share.scss */
.share .currentshare {
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "souce-code-pro", monospace;
}
/* line 27, ../compass/src/_share.scss */
.share .more {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
/* line 33, ../compass/src/_share.scss */
.share .copy_share_to_clipboard {
  background: #0004;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.2s ease 0s;
  font-size: 16px;
}
/* line 41, ../compass/src/_share.scss */
.share .copy_share_to_clipboard:hover {
  background: #fff4;
  color: #000;
}
/* line 47, ../compass/src/_share.scss */
.share .currentshare {
  background: #000a;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  padding: 6px 6px;
  margin-right: 10px;
}

/* line 1, ../compass/src/_dialog.scss */
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100000000000000;
  background: #000c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* line 14, ../compass/src/_dialog.scss */
.dialog .inner {
  display: flex;
  flex-direction: column;
  background: #e3e3e3;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #555;
}
/* line 23, ../compass/src/_dialog.scss */
.dialog .title {
  margin: 0;
  color: #0081cc;
  font-weight: bold;
  text-align: center;
}
/* line 30, ../compass/src/_dialog.scss */
.dialog .message {
  margin: 20px 0;
}
/* line 34, ../compass/src/_dialog.scss */
.dialog .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* line 39, ../compass/src/_dialog.scss */
.dialog .buttons button {
  margin: 0 10px;
}

/* line 1, ../compass/src/_hint.scss */
#hints-container {
  position: fixed;
  top: 0;
  left: calc(50% - 150px);
  width: 300px;
  overflow-y: auto;
  z-index: 1000000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
/* line 13, ../compass/src/_hint.scss */
#hints-container .hint {
  position: relative;
  background: #0081cc;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
}
/* line 21, ../compass/src/_hint.scss */
#hints-container .hint:not(:last-of-type) {
  margin-bottom: 5px;
}
/* line 25, ../compass/src/_hint.scss */
#hints-container .hint h4 {
  margin: 0 0 10px 0;
  color: #fff;
}
/* line 29, ../compass/src/_hint.scss */
#hints-container .hint h4 .extend {
  margin-left: 10px;
  cursor: pointer;
  border-radius: 1000px;
}
/* line 34, ../compass/src/_hint.scss */
#hints-container .hint h4 .extend:hover {
  background: #0004;
}
/* line 40, ../compass/src/_hint.scss */
#hints-container .hint .close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  border-radius: 1000px;
}
/* line 47, ../compass/src/_hint.scss */
#hints-container .hint .close:hover {
  background: #0004;
}
/* line 52, ../compass/src/_hint.scss */
#hints-container .hint > div {
  color: #000;
}

/* line 3, ../compass/src/_editor.scss */
.code_container .code_information {
  padding: 3px 8px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 11, ../compass/src/_editor.scss */
.code_container .charactercount {
  font-weight: bold;
  padding: 13px 8px 11px;
  line-height: 0;
  border-radius: 10000px;
}
/* line 17, ../compass/src/_editor.scss */
.code_container .charactercount.limit {
  background: #ae0000;
}

/* editor fullscreen */
/* line 26, ../compass/src/_editor.scss */
.ace_editor.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10000000000000;
}
/* line 35, ../compass/src/_editor.scss */
.ace_editor .fullscreen_toggle {
  position: absolute;
  top: 0;
  right: 17px;
  z-index: 1;
  padding: 5px;
  font-size: 20px;
  background: #0004;
  border-radius: 2px;
  cursor: pointer;
}
/* line 46, ../compass/src/_editor.scss */
.ace_editor .fullscreen_toggle:hover {
  background: #000a;
}
/* line 51, ../compass/src/_editor.scss */
.ace_editor .font_plus, .ace_editor .font_minus {
  position: absolute;
  top: 0;
  right: 17px;
  z-index: 1;
  padding: 5px;
  font-size: 20px;
  background: #0004;
  border-radius: 2px;
  cursor: pointer;
}
/* line 62, ../compass/src/_editor.scss */
.ace_editor .font_plus:hover, .ace_editor .font_minus:hover {
  background: #000a;
}
/* line 67, ../compass/src/_editor.scss */
.ace_editor .font_plus {
  right: 50px;
}
/* line 71, ../compass/src/_editor.scss */
.ace_editor .font_minus {
  right: 83px;
}

/* line 2, ../compass/src/_uibuilder.scss */
#ui-builder {
  background: #000d;
  border-radius: 3px;
  color: #fff;
  padding: 10px;
  margin: 20px;
  position: relative;
}
/* line 10, ../compass/src/_uibuilder.scss */
#ui-builder.locked:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff6;
  content: ' ';
  z-index: 10;
  cursor: not-allowed;
}
/* line 22, ../compass/src/_uibuilder.scss */
#ui-builder h2 {
  color: #bf5421;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #444444;
}

/* line 30, ../compass/src/_uibuilder.scss */
#ui-builder-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
/* line 35, ../compass/src/_uibuilder.scss */
#ui-builder-container > * {
  margin-right: 10px;
  user-select: none;
}
/* line 40, ../compass/src/_uibuilder.scss */
#ui-builder-container .element_list, #ui-builder-container .element_layer_list {
  max-height: 300px;
  overflow-y: scroll;
  background: #000a;
}
/* line 46, ../compass/src/_uibuilder.scss */
#ui-builder-container .element_list .element {
  cursor: pointer;
  margin-bottom: 3px;
  padding: 3px;
}
/* line 52, ../compass/src/_uibuilder.scss */
#ui-builder-container .element_list .element:hover {
  color: #bf5421;
}
/* line 56, ../compass/src/_uibuilder.scss */
#ui-builder-container .canvas_container {
  position: relative;
  background: #000;
}
/* line 60, ../compass/src/_uibuilder.scss */
#ui-builder-container .canvas_container .element {
  position: absolute;
  cursor: pointer;
  font: 12px "Screen Mono", "Lucida Console", Monaco, monospace;
}
/* line 65, ../compass/src/_uibuilder.scss */
#ui-builder-container .canvas_container .element.highlight .content {
  box-shadow: 1px 1px 4px #aaa;
}
/* line 69, ../compass/src/_uibuilder.scss */
#ui-builder-container .canvas_container .element.settings_open {
  z-index: 10000000000000 !important;
}
/* line 73, ../compass/src/_uibuilder.scss */
#ui-builder-container .canvas_container .element:not(.settings_open) .settings {
  display: none;
}
/* line 77, ../compass/src/_uibuilder.scss */
#ui-builder-container .canvas_container .element .content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 84, ../compass/src/_uibuilder.scss */
#ui-builder-container .canvas_container .element .content svg {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 91, ../compass/src/_uibuilder.scss */
#ui-builder-container .canvas_container .element .settings {
  position: absolute;
  top: calc(100% + 5px);
  display: flex;
  flex-direction: column;
  background: #fff;
  color: #000;
  font: 12px 'Helvetica', 'Arial', 'sans-serif';
  border-radius: 3px;
  padding-top: 10px;
}
/* line 102, ../compass/src/_uibuilder.scss */
#ui-builder-container .canvas_container .element .settings .close {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 0;
  padding: 7px 5px;
  background: #000;
  color: #fff;
  border-bottom-left-radius: 5px;
}
/* line 113, ../compass/src/_uibuilder.scss */
#ui-builder-container .canvas_container .element .settings .setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
/* line 119, ../compass/src/_uibuilder.scss */
#ui-builder-container .canvas_container .element .settings .setting .name {
  margin-right: 5px;
}
/* line 124, ../compass/src/_uibuilder.scss */
#ui-builder-container .canvas_container .element .settings .element_description {
  position: relative;
}
/* line 128, ../compass/src/_uibuilder.scss */
#ui-builder-container .canvas_container .element .settings .element_description_content {
  position: absolute;
  background: #b0b0b0;
  box-shadow: 1px 1px 1px #808080;
  padding: 5px;
  z-index: 1;
  border-radius: 3px;
  width: 150px;
}
/* line 138, ../compass/src/_uibuilder.scss */
#ui-builder-container .canvas_container .element .settings .element_description:not(:hover) .element_description_content {
  display: none;
}
/* line 144, ../compass/src/_uibuilder.scss */
#ui-builder-container .canvas_container[mode="delete"] .element.delete_overlay .content {
  box-shadow: 1px 1px 4px #a00;
}
/* line 147, ../compass/src/_uibuilder.scss */
#ui-builder-container .canvas_container[mode="delete"] .element.delete_overlay .content:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../../images/delete_overlay.png");
  background-size: 100% 100%;
}
/* line 160, ../compass/src/_uibuilder.scss */
#ui-builder-container .controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* line 165, ../compass/src/_uibuilder.scss */
#ui-builder-container .controls .control {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  transition: color 0.2s ease 0s;
}
/* line 174, ../compass/src/_uibuilder.scss */
#ui-builder-container .controls .control:hover {
  color: #bf5421;
}
/* line 178, ../compass/src/_uibuilder.scss */
#ui-builder-container .controls .control > span {
  margin-right: 5px;
}
/* line 183, ../compass/src/_uibuilder.scss */
#ui-builder-container .controls[mode="move"] .control.move {
  color: #bf5421;
}
/* line 187, ../compass/src/_uibuilder.scss */
#ui-builder-container .controls[mode="resize"] .control.resize {
  color: #bf5421;
}
/* line 191, ../compass/src/_uibuilder.scss */
#ui-builder-container .controls[mode="settings"] .control.settings {
  color: #bf5421;
}
/* line 195, ../compass/src/_uibuilder.scss */
#ui-builder-container .controls[mode="delete"] .control.delete {
  color: #bf5421;
}
/* line 199, ../compass/src/_uibuilder.scss */
#ui-builder-container .controls[mode="zindex"] .control.zindex {
  color: #bf5421;
}
/* line 204, ../compass/src/_uibuilder.scss */
#ui-builder-container .element_layer_list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}
/* line 209, ../compass/src/_uibuilder.scss */
#ui-builder-container .element_layer_list .layer_list_entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3px;
  padding: 3px;
  background: #222;
  border-radius: 3px;
  transition: background 0.5s ease 0s;
}
/* line 219, ../compass/src/_uibuilder.scss */
#ui-builder-container .element_layer_list .layer_list_entry:hover {
  box-shadow: 1px 1px 4px #aaa;
}
/* line 224, ../compass/src/_uibuilder.scss */
#ui-builder-container .element_layer_list .layer_list_entry.light_up {
  background: #888;
}
/* line 228, ../compass/src/_uibuilder.scss */
#ui-builder-container .element_layer_list .layer_list_entry .lcontrols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
/* line 235, ../compass/src/_uibuilder.scss */
#ui-builder-container .element_layer_list .layer_list_entry .lcontrols > * {
  cursor: pointer;
}
/* line 239, ../compass/src/_uibuilder.scss */
#ui-builder-container .element_layer_list .layer_list_entry .lcontrols .up {
  margin-bottom: 3px;
}
/* line 243, ../compass/src/_uibuilder.scss */
#ui-builder-container .element_layer_list .layer_list_entry .lcontrols > *:not(:last-of-type) {
  margin-right: 6px;
}
/* line 249, ../compass/src/_uibuilder.scss */
#ui-builder-container .element_layer_list .layer_list_entry:last-of-type .up, #ui-builder-container .element_layer_list .layer_list_entry:first-of-type .down {
  color: transparent;
  cursor: initial;
}
/* line 254, ../compass/src/_uibuilder.scss */
#ui-builder-container .element_layer_list .layer_list_entry .background {
  height: 1em;
  margin-top: 3px;
}

/* line 262, ../compass/src/_uibuilder.scss */
#ui-builder-code {
  height: 300px;
}

/* line 266, ../compass/src/_uibuilder.scss */
#ui-builder-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
/* line 273, ../compass/src/_uibuilder.scss */
#ui-builder-controls .controls_container {
  margin-bottom: 0;
}
/* line 276, ../compass/src/_uibuilder.scss */
#ui-builder-controls .controls_container button {
  margin-bottom: 0;
}
/* line 281, ../compass/src/_uibuilder.scss */
#ui-builder-controls > *:not(:last-child) {
  margin-right: 10px;
}

/* line 286, ../compass/src/_uibuilder.scss */
.ui_builder_zoom {
  display: flex;
  flex-direction: column;
}

/* line 1, ../compass/src/_autocomplete.scss */
.autocompletion_container {
  position: absolute;
  z-index: 10;
}

/* line 6, ../compass/src/_autocomplete.scss */
.autocompletition {
  position: relative;
  background: #3d3e38;
  color: #fff;
  min-width: 250px;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}
/* line 13, ../compass/src/_autocomplete.scss */
.autocompletition .list .entry[atype="object"] .type, .autocompletition .descriptions .description[atype="object"] .name {
  color: #A6CE28;
}
/* line 17, ../compass/src/_autocomplete.scss */
.autocompletition .list .entry[atype="function"] .type, .autocompletition .descriptions .description[atype="function"] .name {
  color: #66D9EF;
}
/* line 21, ../compass/src/_autocomplete.scss */
.autocompletition .list .entry[atype="event"] .type, .autocompletition .descriptions .description[atype="event"] .name {
  color: #F0D322;
}
/* line 26, ../compass/src/_autocomplete.scss */
.autocompletition .list {
  display: flex;
  flex-direction: column;
  max-height: 10.5em;
  overflow-y: auto;
  position: relative;
}
/* line 33, ../compass/src/_autocomplete.scss */
.autocompletition .list .entry, .autocompletition .list .empty {
  padding: 3px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
/* line 41, ../compass/src/_autocomplete.scss */
.autocompletition .list .empty {
  cursor: not-allowed;
  color: #EE4A4B;
}
/* line 46, ../compass/src/_autocomplete.scss */
.autocompletition .list .entry.selected {
  background: #666666 !important;
}
/* line 50, ../compass/src/_autocomplete.scss */
.autocompletition .list .entry .type {
  margin-left: 15px;
  font-style: italic;
}
/* line 55, ../compass/src/_autocomplete.scss */
.autocompletition .list .entry[lib="stormworks"] {
  background: #002033;
}
/* line 59, ../compass/src/_autocomplete.scss */
.autocompletition .list .entry[lib="dev"] {
  background: #2e0217;
}
/* line 63, ../compass/src/_autocomplete.scss */
.autocompletition .list .entry[lib="lua"] {
  background: #112d04;
}
/* line 68, ../compass/src/_autocomplete.scss */
.autocompletition .descriptions {
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 100px;
  max-width: 90vw;
}
/* line 75, ../compass/src/_autocomplete.scss */
.autocompletition .descriptions .description {
  display: none;
  background: #414141;
  padding: 8px;
  font-size: 120%;
  line-height: 120%;
}
/* line 83, ../compass/src/_autocomplete.scss */
.autocompletition .descriptions .description .top {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 90, ../compass/src/_autocomplete.scss */
.autocompletition .descriptions .description .args {
  margin-left: 2px;
}
/* line 94, ../compass/src/_autocomplete.scss */
.autocompletition .descriptions .description .url {
  margin-bottom: 5px;
}
/* line 98, ../compass/src/_autocomplete.scss */
.autocompletition .descriptions .description .lib_title {
  border: 1px solid transparent;
  border-radius: 100000px;
  padding: 2px 6px;
  display: inline-block;
  margin-bottom: 4px;
}
/* line 106, ../compass/src/_autocomplete.scss */
.autocompletition .descriptions .description[lib="stormworks"] .lib_title {
  color: #0081cc;
  border-color: #0081cc;
}
/* line 111, ../compass/src/_autocomplete.scss */
.autocompletition .descriptions .description[lib="dev"] .lib_title {
  color: #b9085b;
  border-color: #b9085b;
}
/* line 116, ../compass/src/_autocomplete.scss */
.autocompletition .descriptions .description[lib="lua"] .lib_title {
  color: #44b511;
  border-color: #44b511;
}
/* line 121, ../compass/src/_autocomplete.scss */
.autocompletition .descriptions .description[lib="user"] .lib_title {
  color: #fff;
  border-color: #fff;
}
/* line 128, ../compass/src/_autocomplete.scss */
.autocompletition a {
  color: #bf5421 !important;
}
/* line 132, ../compass/src/_autocomplete.scss */
.autocompletition input {
  position: absolute;
  left: -99999999px;
}

/* line 1, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] {
  padding: 5px;
}
/* line 5, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 3px;
  background: #151719;
  color: #eaedf1;
}
/* line 13, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node:not(:last-child) {
  margin-bottom: 5px;
}
/* line 19, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node.contracted .bottom, [viewable="viewable_documentation"] .node.contracted .children {
  display: none;
}
/* line 24, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 6px;
  cursor: pointer;
}
/* line 31, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .top .definition {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}
/* line 40, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .top .definition .args {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
  color: #e87704;
}
/* line 47, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .top .definition .args:before {
  content: '(';
  margin-right: 3px;
}
/* line 52, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .top .definition .args:after {
  content: ')';
  margin-left: 3px;
}
/* line 57, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .top .definition .args .arg {
  position: relative;
  display: flex;
  flex-direction: row;
}
/* line 62, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .top .definition .args .arg:before {
  content: attr(before);
}
/* line 66, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .top .definition .args .arg:after {
  content: attr(after);
}
/* line 74, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .top .definition .args .arg .arg_help_open {
  margin-left: 6px;
  color: #fff;
}
/* line 79, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .top .definition .args .arg .arg_help {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  display: none;
  background: #363b40;
  padding: 6px;
  min-width: 150px;
}
/* line 89, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .top .definition .args .arg .arg_help table {
  border-collapse: separate;
  border-spacing: 10px;
}
/* line 93, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .top .definition .args .arg .arg_help table th, [viewable="viewable_documentation"] .node .top .definition .args .arg .arg_help table td {
  text-align: left;
}
/* line 99, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .top .definition .args .arg.has_help.help_open .arg_help {
  display: inline-block;
}
/* line 106, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .top .definition .hint {
  position: relative;
  margin-left: 5px;
}
/* line 114, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .top .definition .hint .hint_inner {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  min-width: 150px;
  padding: 6px;
  background: #363b40;
  font-size: 16px;
}
/* line 126, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .top .definition .hint.hint_open .hint_inner {
  display: inline-block;
}
/* line 133, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .top .lib {
  border: 1px solid;
  border-radius: 10000px;
  padding: 2px 8px;
  white-space: nowrap;
  height: calc(1em + 2px * 4);
}
/* line 142, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .bottom {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 10px 10px;
}
/* line 147, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .bottom .url {
  margin-bottom: 8px;
}
/* line 155, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .bottom .bugs {
  margin-top: 10px;
  background: #952424;
  color: #fff;
  padding: 6px;
  border-radius: 3px;
}
/* line 162, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .bottom .bugs .heading {
  background: #fff;
  color: #952424;
  padding: 3px 10px;
  border-radius: 100000px;
  font-weight: bold;
  line-height: 1.3em;
}
/* line 171, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .bottom .bugs .bug_text {
  margin-top: 10px;
  padding: 5px;
}
/* line 178, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node .children {
  padding-left: 10px;
}
/* line 184, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node[lib="stormworks"] .lib {
  color: #0081cc;
  border-color: #0081cc;
}
/* line 192, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node[lib="dev"] .lib {
  color: #b9085b;
  border-color: #b9085b;
}
/* line 200, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node[lib="lua"] .lib {
  color: #44b511;
  border-color: #44b511;
}
/* line 207, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node[ntype="object"] .name, [viewable="viewable_documentation"] .node[ntype="object"] .hint_open_icon {
  color: #A6CE28;
}
/* line 213, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node[ntype="function"] .name, [viewable="viewable_documentation"] .node[ntype="function"] .hint_open_icon {
  color: #66D9EF;
}
/* line 220, ../compass/src/_viewable_documentation.scss */
[viewable="viewable_documentation"] .node[ntype="event"] .name, [viewable="viewable_documentation"] .node[ntype="event"] .hint_open_icon {
  color: #F0D322;
}

/* line 1, ../compass/src/_viewable_settings.scss */
[viewable="viewable_settings"] {
  display: flex;
  flex-direction: column;
}
/* line 5, ../compass/src/_viewable_settings.scss */
[viewable="viewable_settings"] .setting {
  margin-bottom: 5px;
  background: #222;
  padding: 6px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* line 15, ../compass/src/_viewable_settings.scss */
[viewable="viewable_settings"] .setting.multi_setting {
  flex-direction: column;
  align-items: initial;
}
/* line 19, ../compass/src/_viewable_settings.scss */
[viewable="viewable_settings"] .setting.multi_setting > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* line 26, ../compass/src/_viewable_settings.scss */
[viewable="viewable_settings"] .setting.multi_setting > div:not(:last-child) {
  margin-bottom: 10px;
}
/* line 31, ../compass/src/_viewable_settings.scss */
[viewable="viewable_settings"] .setting label {
  margin-right: 5px;
}
/* line 35, ../compass/src/_viewable_settings.scss */
[viewable="viewable_settings"] .setting label + div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 40, ../compass/src/_viewable_settings.scss */
[viewable="viewable_settings"] .setting label + div input {
  margin-left: 10px;
}
/* line 46, ../compass/src/_viewable_settings.scss */
[viewable="viewable_settings"] #timeBetweenTicks, [viewable="viewable_settings"] #timeBetweenDraws {
  direction: rtl;
}

/* line 2, ../compass/src/_viewable_console.scss */
[viewable="viewable_console"] #console {
  position: relative;
  background: #000;
  border-radius: 3px;
}
/* line 7, ../compass/src/_viewable_console.scss */
[viewable="viewable_console"] #console #console-inner {
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow: scroll;
  font-family: monospace;
}
/* line 16, ../compass/src/_viewable_console.scss */
[viewable="viewable_console"] #console .console_clear {
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
/* line 24, ../compass/src/_viewable_console.scss */
[viewable="viewable_console"] #console .console_clear:hover {
  color: #be3b3c;
}

/* line 2, ../compass/src/_viewable_monitor.scss */
[viewable="viewable_monitor"] #render-canvas {
  display: none;
}
/* line 6, ../compass/src/_viewable_monitor.scss */
[viewable="viewable_monitor"] #monitor {
  position: relative;
}
/* line 10, ../compass/src/_viewable_monitor.scss */
[viewable="viewable_monitor"] .monitor_info {
  margin-top: 10px;
}
/* line 13, ../compass/src/_viewable_monitor.scss */
[viewable="viewable_monitor"] .monitor_info div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 18, ../compass/src/_viewable_monitor.scss */
[viewable="viewable_monitor"] .monitor_info div label {
  margin-right: 10px;
  min-width: 60px;
}
/* line 24, ../compass/src/_viewable_monitor.scss */
[viewable="viewable_monitor"] .monitor_info span.zoom + input {
  margin-left: 10px;
}
/* line 29, ../compass/src/_viewable_monitor.scss */
[viewable="viewable_monitor"] #overflow {
  position: absolute;
  top: 31px;
  left: 31px;
  z-index: 2;
  width: calc(100% - 62px);
  height: calc(100% - 62px);
  border: 1px solid #ff0000cc;
  margin: 0;
}
/* line 40, ../compass/src/_viewable_monitor.scss */
[viewable="viewable_monitor"] #canvas {
  z-index: 1;
  background: #000;
  filter: brightness(258%);
}

/* line 1, ../compass/src/_viewable_examples.scss */
#example-container {
  margin-left: 4%;
  background: #0007;
  border-radius: 3px;
}
/* line 6, ../compass/src/_viewable_examples.scss */
#example-container #examples-heading {
  background: linear-gradient(15deg, #0194E2 0%, #792692 100%);
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}
/* line 18, ../compass/src/_viewable_examples.scss */
#example-container #examples-heading h3 {
  display: inline-block;
  margin: 0;
}
/* line 24, ../compass/src/_viewable_examples.scss */
#example-container .close {
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
/* line 28, ../compass/src/_viewable_examples.scss */
#example-container .close:hover {
  color: #002C43;
}

/* line 34, ../compass/src/_viewable_examples.scss */
#examples {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-height: 50vh;
  overflow-y: auto;
}
/* line 42, ../compass/src/_viewable_examples.scss */
#examples .chapter {
  display: flex;
  flex-direction: column;
}
/* line 46, ../compass/src/_viewable_examples.scss */
#examples .chapter:not(:last-child) {
  margin-bottom: 5px;
}
/* line 50, ../compass/src/_viewable_examples.scss */
#examples .chapter .chapter_head {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: linear-gradient(15deg, #002c43 0%, #325668 100%);
  color: #fff;
  cursor: pointer;
  padding: 5px;
  position: relative;
}
/* line 59, ../compass/src/_viewable_examples.scss */
#examples .chapter .chapter_head:after {
  position: absolute;
  top: 50%;
  right: 5px;
  font-family: 'Iconfont';
  content: '\ea43';
  transition: all 0.2s ease 0s;
  transform: translateY(-50%);
  line-height: 0;
}
/* line 71, ../compass/src/_viewable_examples.scss */
#examples .chapter.open .chapter_head:after {
  transform: translateY(-50%) rotate(180deg);
}
/* line 75, ../compass/src/_viewable_examples.scss */
#examples .chapter .chapter_body {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
/* line 81, ../compass/src/_viewable_examples.scss */
#examples .chapter:not(.open) .chapter_body {
  display: none;
  background: #7f95a1;
}
/* line 86, ../compass/src/_viewable_examples.scss */
#examples .chapter .example {
  display: flex;
  flex-direction: column;
}
/* line 90, ../compass/src/_viewable_examples.scss */
#examples .chapter .example:not(:last-child) {
  margin-bottom: 5px;
}
/* line 94, ../compass/src/_viewable_examples.scss */
#examples .chapter .example .example_head {
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: linear-gradient(15deg, #2150bf 0%, #3073a4 100%);
  cursor: pointer;
  padding: 5px;
}
/* line 102, ../compass/src/_viewable_examples.scss */
#examples .chapter .example .example_head:after {
  position: absolute;
  top: 50%;
  right: 5px;
  font-family: 'Iconfont';
  content: '\ea43';
  transition: all 0.2s ease 0s;
  transform: translateY(-50%);
  line-height: 0;
}
/* line 114, ../compass/src/_viewable_examples.scss */
#examples .chapter .example.open .example_head:after {
  transform: translateY(-50%) rotate(180deg);
}
/* line 118, ../compass/src/_viewable_examples.scss */
#examples .chapter .example .example_body {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: #eaedf1;
}
/* line 124, ../compass/src/_viewable_examples.scss */
#examples .chapter .example .example_body > * {
  margin-bottom: 10px;
}
/* line 129, ../compass/src/_viewable_examples.scss */
#examples .chapter .example:not(.open) .example_body {
  display: none;
}
/* line 135, ../compass/src/_viewable_examples.scss */
#examples .example_text {
  color: #222;
}
/* line 139, ../compass/src/_viewable_examples.scss */
#examples .example_code {
  border: 3px solid #202020;
  box-sizing: content-box;
  border-radius: 3px;
  margin: 5px 0;
}
/* line 146, ../compass/src/_viewable_examples.scss */
#examples keyword {
  color: #F92672;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
}
/* line 151, ../compass/src/_viewable_examples.scss */
#examples obj {
  color: #4FA8B9;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
}

/* line 1, ../compass/src/_viewable_uibuilder.scss */
#ui-builder-container .canvas_container .element.line svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 10, ../compass/src/_viewable_uibuilder.scss */
#ui-builder-container .canvas_container .element.buttonrectangle .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 17, ../compass/src/_viewable_uibuilder.scss */
#ui-builder-container .canvas_container .element.verticalslider .slider_value {
  position: absolute;
  width: 100%;
}

/* line 2, ../compass/src/_viewable_official_manuals.scss */
[viewable="viewable_official_manuals"] #lua-youtube-video iframe {
  width: 100%;
  height: 100%;
}

/* line 1, ../compass/src/_navigation.scss */
#logo {
  background: url("../images/logo.png") center 100% no-repeat;
  height: 3em;
  width: 3em;
  background-size: contain;
  margin-right: 30px;
}

/* line 9, ../compass/src/_navigation.scss */
#navigation {
  position: sticky;
  top: 0;
  height: 75px;
  z-index: 100000000;
  background: #000;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 23, ../compass/src/_navigation.scss */
#beta, #offline, #download-offline {
  display: inline-block;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
  margin: 0 0 0 auto;
  border-radius: 10000px;
}

/* line 33, ../compass/src/_navigation.scss */
#giveaway-hint {
  background: url("../images/giveaway_background_small.jpg");
  background-size: cover;
  background-position: center bottom;
  box-shadow: 0px 0px 3px 2px #67096A78;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10000px;
  color: #fff;
  font-weight: bold;
}

/* line 48, ../compass/src/_navigation.scss */
#beta {
  background: linear-gradient(15deg, #EE4A4B 0%, #F4812E 100%);
  box-shadow: 0px 0px 3px 2px #EE4A4B77;
}

/* line 53, ../compass/src/_navigation.scss */
#offline {
  background: linear-gradient(15deg, #0194E2 0%, #792692 100%);
  box-shadow: 1px 0px 3px 1px #0194E277;
}

/* line 58, ../compass/src/_navigation.scss */
#download-offline {
  background: linear-gradient(15deg, #9A8D00 0%, #4d835f 100%);
  box-shadow: 0px 0px 3px 2px #a99c1077;
  text-decoration: none;
}

/* mobile menu */
/* line 68, ../compass/src/_navigation.scss */
#mobile-menu {
  display: none;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 1000000000000;
}
/* line 78, ../compass/src/_navigation.scss */
#mobile-menu #mobile-menu-close-sidebar {
  width: 100%;
  background: #fff7;
}
/* line 83, ../compass/src/_navigation.scss */
#mobile-menu #mobile-menu-inner {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 350px;
  height: 100%;
  min-height: 100vh;
  background: #0a0a0a;
  color: #ddd;
  padding-bottom: 10px;
}
/* line 95, ../compass/src/_navigation.scss */
#mobile-menu .mobile_menu_logo {
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000;
}
/* line 103, ../compass/src/_navigation.scss */
#mobile-menu .mobile_menu_logo img {
  height: 70%;
  width: auto;
}
/* line 109, ../compass/src/_navigation.scss */
#mobile-menu .menu_group {
  display: flex;
  flex-direction: column;
  background: #0a0a0a;
}
/* line 114, ../compass/src/_navigation.scss */
#mobile-menu .menu_group > * {
  padding: 10px;
}
/* line 118, ../compass/src/_navigation.scss */
#mobile-menu .menu_group > :not(.menu_group_title) {
  padding-left: 25px;
}
/* line 123, ../compass/src/_navigation.scss */
#mobile-menu .menu_group_title {
  background: #000;
  border-bottom: 2px solid #111;
}
/* line 128, ../compass/src/_navigation.scss */
#mobile-menu #learn-menu-entry span, #mobile-menu #help-menu-entry span {
  cursor: pointer;
  padding: 4px 10px;
  border-radius: 10000px;
  font-weight: bold;
}
/* line 135, ../compass/src/_navigation.scss */
#mobile-menu #learn-menu-entry span {
  background: linear-gradient(15deg, #0194E2 0%, #792692 100%);
  box-shadow: 1px 0px 3px 1px #0194E277;
}
/* line 140, ../compass/src/_navigation.scss */
#mobile-menu #help-menu-entry span {
  background: linear-gradient(15deg, #9A8D00 0%, #4d835f 100%);
  box-shadow: 0px 0px 3px 2px #a99c1077;
}

/* line 147, ../compass/src/_navigation.scss */
#mobile-menu-open {
  background: url("../images/menu_icon.png");
  background-size: cover;
  height: 2em;
  width: 2em;
  margin: 0.5em;
  cursor: pointer;
}

/* value_list */
/* line 3, ../compass/src/_value_list.scss */
.ide .value_list {
  min-width: 200px;
  color: #151719;
  padding: 5px 5px 0 5px;
  margin-bottom: 10px;
  border-radius: 6px;
}
/* line 10, ../compass/src/_value_list.scss */
.ide .value_list > * {
  background: #d7d7d7;
  border-radius: 3px;
  margin-bottom: 10px;
}
/* line 15, ../compass/src/_value_list.scss */
.ide .value_list > *:last-of-type {
  margin-bottom: 5px;
}
/* line 20, ../compass/src/_value_list.scss */
.ide .value_list > .head {
  font-weight: bold;
  background: #000 !important;
  color: #bf5421;
}
/* line 26, ../compass/src/_value_list.scss */
.ide .value_list .head {
  display: flex;
  flex-direction: row;
  padding: 5px;
  background: var(--background-accent-gradient);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 34, ../compass/src/_value_list.scss */
.ide .value_list .head button {
  background: #000;
  border: 1px solid #000;
  color: #bf5421;
}
/* line 39, ../compass/src/_value_list.scss */
.ide .value_list .head button:hover {
  background: #cb764d;
  color: #000;
}
/* line 45, ../compass/src/_value_list.scss */
.ide .value_list .head .add {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 auto;
}
/* line 50, ../compass/src/_value_list.scss */
.ide .value_list .head .add input {
  width: calc(100% - 23px);
  margin: 0 5px;
}
/* line 57, ../compass/src/_value_list.scss */
.ide .value_list button {
  margin: 0 0 0 auto;
  padding: 0 2px 2px 2px;
  font-size: 12px;
  font-weight: bold;
  line-height: 0;
  height: 20px;
  width: 20px;
}
/* line 66, ../compass/src/_value_list.scss */
.ide .value_list button:not(:last-of-type) {
  margin-right: 3px;
}
/* line 70, ../compass/src/_value_list.scss */
.ide .value_list button + button {
  margin-left: 0;
}
/* line 76, ../compass/src/_value_list.scss */
.ide .value_list .bool .change, .ide .value_list .number .change, .ide .value_list .text .change {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/* line 83, ../compass/src/_value_list.scss */
.ide .value_list .number .channel {
  border: 1px solid #000;
  border-radius: 10000px;
  padding: 2px;
  min-width: 1.5em;
  text-align: center;
}
/* line 91, ../compass/src/_value_list.scss */
.ide .value_list .settings .group {
  margin-top: 10px;
}
/* line 94, ../compass/src/_value_list.scss */
.ide .value_list .settings .group select {
  margin-left: 10px;
}
/* line 98, ../compass/src/_value_list.scss */
.ide .value_list .settings .group > * {
  margin-top: 5px;
}
/* line 102, ../compass/src/_value_list.scss */
.ide .value_list .settings .group input + label {
  margin-left: 5px;
}
/* line 107, ../compass/src/_value_list.scss */
.ide .value_list .number:not(.isslider) .settings {
  display: none;
}
/* line 111, ../compass/src/_value_list.scss */
.ide .value_list .bool .settings {
  display: none;
}
/* line 115, ../compass/src/_value_list.scss */
.ide .value_list .number .slidervalue {
  margin: 0 4px;
  min-width: 6em;
  text-align: center;
}
/* line 121, ../compass/src/_value_list.scss */
.ide .value_list .number:not(.isslider) .change input[type="range"], .ide .value_list .number:not(.isslider) .slidervalue {
  display: none;
}
/* line 125, ../compass/src/_value_list.scss */
.ide .value_list .number.isslider .change input[type="number"] {
  display: none;
}
/* line 129, ../compass/src/_value_list.scss */
.ide .value_list .bool input, .ide .value_list .number input, .ide .value_list .text input {
  margin: 0 5px 0 5px;
}
/* line 133, ../compass/src/_value_list.scss */
.ide .value_list .number .change input[type="number"], .ide .value_list .number .change input[type="text"] {
  width: calc(50% - 70px);
}
/* line 137, ../compass/src/_value_list.scss */
.ide .value_list .number .settings input[type="number"], .ide .value_list .number .settings input[type="text"], .ide .value_list .text input[type="text"] {
  width: calc(100% - 70px);
}
/* line 141, ../compass/src/_value_list.scss */
.ide .value_list .bool .result, .ide .value_list .number .result, .ide .value_list .text .result {
  margin: 0 0 0 auto;
}
/* line 145, ../compass/src/_value_list.scss */
.ide .value_list .user_label_container {
  display: inline-block;
  position: relative;
}
/* line 149, ../compass/src/_value_list.scss */
.ide .value_list .user_label_container .user_label {
  background: transparent;
  border: none;
  padding: 3px 4px 3px 23px;
  cursor: text;
  transition: all 0.2s ease 0s;
  width: calc(100% - 5px) !important;
}
/* line 158, ../compass/src/_value_list.scss */
.ide .value_list .user_label_container:after {
  content: '\e905';
  font-family: iconfont;
  position: absolute;
  left: 8px;
  cursor: text;
}
/* line 167, ../compass/src/_value_list.scss */
.ide .value_list .user_label_container:hover:after {
  color: #c36724;
}
/* line 171, ../compass/src/_value_list.scss */
.ide .value_list .user_label_container:hover .user_label {
  background: #fff;
}
/* line 180, ../compass/src/_value_list.scss */
.ide #property.value_list .bool, .ide #property.value_list .number, .ide #property.value_list .text {
  display: flex;
  flex-direction: row;
  margin: 3px 0;
  padding: 5px;
}
/* line 187, ../compass/src/_value_list.scss */
.ide .value_list .bool, .ide .value_list .number, .ide .value_list .text {
  display: flex;
  flex-direction: column;
  margin: 3px 0;
  padding: 5px;
}
/* line 194, ../compass/src/_value_list.scss */
.ide #output.value_list .bool, .ide #output.value_list .number, .ide #output.value_list .text {
  flex-direction: row;
}

/* line 3, ../compass/src/_view.scss */
[view] {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: calc( ( 100vh - 75px - 60px ) / 2);
  background: #151719;
  color: #eaedf1;
  padding: 6px;
}
/* line 14, ../compass/src/_view.scss */
[view] .select {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% + 4px);
  background: #151719;
  margin: -2px -2px 4px -2px;
}
/* line 22, ../compass/src/_view.scss */
[view] .select [select-viewable] {
  background: #1c3146;
  color: #eaedf1;
  cursor: pointer;
  padding: 0.25em 0.5em;
  margin: 4px;
}
/* line 29, ../compass/src/_view.scss */
[view] .select [select-viewable] .moveto {
  margin-left: 10px;
  opacity: 0;
  transition: all 0.2s ease 0s;
}
/* line 35, ../compass/src/_view.scss */
[view] .select [select-viewable]:hover .moveto {
  opacity: 1;
}
/* line 39, ../compass/src/_view.scss */
[view] .select [select-viewable] .moveto_choose {
  box-shadow: 1px 1px 2px 2px #4b4b4b;
  background: #eaedf1;
  color: #151719;
  z-index: 100;
}
/* line 45, ../compass/src/_view.scss */
[view] .select [select-viewable] .moveto_choose .header {
  padding: 6px 6px;
  background: #151719;
  color: #eaedf1;
  font-weight: bold;
}
/* line 52, ../compass/src/_view.scss */
[view] .select [select-viewable] .moveto_choose .entry {
  padding: 6px 6px;
  transition: all 0.2s ease 0s;
}
/* line 56, ../compass/src/_view.scss */
[view] .select [select-viewable] .moveto_choose .entry:hover {
  background: #7e7e7e;
}
/* line 60, ../compass/src/_view.scss */
[view] .select [select-viewable] .moveto_choose .entry:not(:last-child) {
  border-bottom: 1px solid #151719;
}
/* line 67, ../compass/src/_view.scss */
[view] .select [select-viewable]:not(:last-child) {
  margin-right: 4px;
}
/* line 71, ../compass/src/_view.scss */
[view] .select [select-viewable][select="true"] {
  background: #eaedf1;
  color: #151719;
}
/* line 77, ../compass/src/_view.scss */
[view] .viewable_container {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #363b40;
  border-radius: 3px;
  padding: 4px;
}

/* line 87, ../compass/src/_view.scss */
[viewable][visible="false"] {
  display: none;
}

/* line 2, ../compass/src/_ponybin.scss */
.ponybin_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background: #000c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* line 15, ../compass/src/_ponybin.scss */
.ponybin_overlay .inner {
  display: flex;
  flex-direction: column;
}
/* line 20, ../compass/src/_ponybin.scss */
.ponybin_overlay .circle {
  background: linear-gradient(15deg, rgba(242, 223, 23, 0.666) 0%, rgba(110, 188, 136, 0.666) 100%);
  box-shadow: 0px 0px 5px 3px #F2DF1777;
  color: #000;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80vw;
  max-width: 250px;
  height: 80vw;
  max-height: 250px;
  padding: 20%;
  animation-duration: 3s;
  animation-name: circle;
  animation-iteration-count: infinite;
}
/* line 37, ../compass/src/_ponybin.scss */
.ponybin_overlay .circle p {
  text-align: center;
  line-height: 150%;
  font-weight: bold;
  animation-duration: 3s;
  animation-name: anticircle;
  animation-iteration-count: infinite;
}
/* line 46, ../compass/src/_ponybin.scss */
.ponybin_overlay .circle [dot] {
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
/* line 51, ../compass/src/_ponybin.scss */
.ponybin_overlay .circle [dot="1"] {
  animation-name: dot1;
}
/* line 55, ../compass/src/_ponybin.scss */
.ponybin_overlay .circle [dot="2"] {
  animation-name: dot2;
}
/* line 59, ../compass/src/_ponybin.scss */
.ponybin_overlay .circle [dot="3"] {
  animation-name: dot3;
}

@keyframes circle {
  0% {
    background-color: #F2DF17;
  }
  25% {
    background-color: #6EBC88;
  }
  50% {
    background-color: #EE4A4B;
  }
  75% {
    background-color: #F4812E;
  }
  100% {
    background-color: #F2DF17;
  }
}
@keyframes dot1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dot2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dot3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 23, ../compass/src/style_client.scss */
.ide {
  width: 100%;
  height: calc(100vh - 75px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* line 30, ../compass/src/style_client.scss */
.ide .ide_bar {
  background: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
/* line 38, ../compass/src/style_client.scss */
.ide .ide_bar .ide_controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
/* line 45, ../compass/src/style_client.scss */
.ide .ide_bar .ide_controls .controls_group {
  padding: 5px;
  display: inline-block;
  color: #eaedf1;
}
/* line 50, ../compass/src/style_client.scss */
.ide .ide_bar .ide_controls .controls_group:not(:last-child) {
  border-right: 1px solid #eaedf1;
  padding-right: 25px;
}
/* line 55, ../compass/src/style_client.scss */
.ide .ide_bar .ide_controls .controls_group button {
  margin: 0;
  padding: 6px 10px;
}
/* line 60, ../compass/src/style_client.scss */
.ide .ide_bar .ide_controls .controls_group button:not(:last-child) {
  margin-right: 10px;
}
/* line 64, ../compass/src/style_client.scss */
.ide .ide_bar .ide_controls .controls_group:not(:last-child) {
  margin-right: 25px;
}
/* line 69, ../compass/src/style_client.scss */
.ide .ide_bar .ide_controls #save {
  transition: all 0.5s ease 0s;
}
/* line 72, ../compass/src/style_client.scss */
.ide .ide_bar .ide_controls #save.saved {
  background: #4d835f;
  border-color: #fff;
  color: #fff;
}
/* line 80, ../compass/src/style_client.scss */
.ide .ide_bar .ide_stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #363b40;
  padding: 6px 12px;
  color: #eaedf1;
}
/* line 90, ../compass/src/style_client.scss */
.ide .ide_bar .ide_stats > *:not(:last-child) {
  margin-bottom: 5px;
}
/* line 94, ../compass/src/style_client.scss */
.ide .ide_bar .ide_stats #drawtime.warning, .ide .ide_bar .ide_stats #ticktime.warning {
  color: red;
}
/* line 100, ../compass/src/style_client.scss */
.ide .ide_flex_view {
  position: relative;
  width: 100%;
  height: calc(100vh - 75px - 60px);
}
/* line 106, ../compass/src/style_client.scss */
.ide [splitter] {
  position: absolute;
  background: var(--background-strong-accent-gradient);
  border: 2px solid #151719;
  z-index: 1000;
  /* hack so the mouse is not leaving the splitter directly */
}
/* line 113, ../compass/src/style_client.scss */
.ide [splitter]:after {
  display: none;
  content: ' ';
  position: absolute;
  top: -1000px;
  left: -1000px;
  width: calc(100% + 2000px);
  height: calc(100% + 2000px);
}
/* line 124, ../compass/src/style_client.scss */
.ide [splitter][draging="true"]:after {
  display: initial;
}
/* line 128, ../compass/src/style_client.scss */
.ide [splitter="vertical"] {
  left: calc(50vw - (6px / 2));
  top: 0;
  height: calc(100vh - 75px - 60px);
  width: 8px;
  cursor: e-resize;
}
/* line 136, ../compass/src/style_client.scss */
.ide [splitter="horizontal_left"], .ide [splitter="horizontal_right"] {
  top: calc( ( 100vh - 75px - 60px ) / 2 - (6px / 2));
  height: 6px;
  width: calc(50vw - (6px / 2));
  cursor: n-resize;
}
/* line 143, ../compass/src/style_client.scss */
.ide [splitter="horizontal_left"] {
  left: 0;
}
/* line 147, ../compass/src/style_client.scss */
.ide [splitter="horizontal_right"] {
  left: calc(50vw + (6px / 2));
}

/* only temporary: */
/* line 153, ../compass/src/style_client.scss */
#mobile-menu, #fixed-information-badges, #example-container {
  display: none;
}
