/* element sizes */
/* colors */
/* z-index */
/* css variables */
:root {
  --background-accent-gradient: linear-gradient(10deg, #2b4a6a 0%, #446483 100%);
  --background-strong-accent-gradient: linear-gradient(10deg, #2b5a88 0%, #5e8dbb 100%);
  --background-grey-gradient: linear-gradient(10deg, #666 0%, #888 100%); }

@font-face {
  font-family: "Screen Mono";
  src: url("../fonts/CG_pixel_4x5_mono.ttf"); }

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', 'sans-serif'; }

body, * {
  box-sizing: border-box; }

button {
  background: linear-gradient(15deg, #2b4a6a 0%, #446483 100%);
  border: 1px solid #305376;
  border-radius: 3px;
  color: #fff;
  padding: 6px 18px;
  cursor: pointer;
  margin-bottom: 30px;
  font-size: 16px;
  transition: all 0.2s ease 0s; }
  button.special_button {
    background: linear-gradient(13deg, #930851 0%, #c63a84 100%);
    border: 1px solid #b80a66; }

button:hover {
  background: linear-gradient(15deg, #446483 0%, #6e869f 100%); }
  button:hover.special_button {
    background: linear-gradient(13deg, #490428 0%, #930851 100%); }

button[disabled] {
  border-color: #dbdbdb;
  color: #898989;
  cursor: not-allowed;
  background: #8297ac; }
  button[disabled].special_button {
    background: #db84b2; }

a {
  color: #0081cc;
  text-decoration: underline; }

a:hover {
  color: tint(#0081cc, 10%); }

body {
  padding-top: 75px; }

#navigation {
  position: absolute;
  top: 0;
  left: 0;
  height: 75px;
  width: 100vw;
  z-index: 400;
  background: #090b0d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  #navigation.open .center .content .on_open {
    display: initial; }
  #navigation.open .center .content .not_open {
    display: none; }
  #navigation .left, #navigation .right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25%;
    height: 70%;
    padding: 0 30px; }
  #navigation .left {
    justify-content: flex-start; }
    #navigation .left #menu-open {
      color: #0081cc;
      font-size: 45px;
      cursor: pointer; }
  #navigation .right {
    justify-content: flex-end; }
    #navigation .right .logo_container {
      height: 100%; }
      #navigation .right .logo_container img {
        height: 100%;
        width: auto; }
  #navigation .center {
    position: relative;
    width: 50%;
    height: 100%;
    cursor: pointer; }
    #navigation .center svg {
      position: absolute;
      top: 0;
      left: 0;
      height: 110%;
      width: 100%;
      z-index: 1; }
      #navigation .center svg path#border {
        fill: none;
        stroke: #0081cc;
        stroke-width: 1px;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        stroke-opacity: 1; }
      #navigation .center svg path#fill {
        fill: #1c3146; }
    #navigation .center .content {
      z-index: 2;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
      #navigation .center .content span {
        color: #fff;
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 40px;
        font-weight: bold; }
      #navigation .center .content .on_open {
        display: none; }
  #navigation .main {
    position: absolute;
    bottom: 100%;
    left: 0;
    min-height: 80vh;
    width: 100vw;
    background: #090b0d;
    border-bottom: 1px solid #363b40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/logo_ghost.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    #navigation .main .part {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #eaedf1;
      font-size: 20px; }
      #navigation .main .part:not(:last-child) {
        margin-bottom: 60px; }
      #navigation .main .part:before {
        content: ' ';
        position: absolute;
        right: calc(100% + 30px);
        top: 50%;
        width: 10px;
        height: 10px;
        transform: translateY(-50%);
        background: #0081cc;
        border-radius: 100000px; }

#beta, #offline, #download-offline {
  display: inline-block;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
  margin: 0 0 0 auto;
  border-radius: 10000px; }

#giveaway-hint {
  background: url("../images/giveaway_background_small.jpg");
  background-size: cover;
  background-position: center bottom;
  box-shadow: 0px 0px 3px 2px #67096A78;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10000px;
  color: #fff;
  font-weight: bold; }

#beta {
  background: linear-gradient(15deg, #EE4A4B 0%, #F4812E 100%);
  box-shadow: 0px 0px 3px 2px #EE4A4B77; }

#offline {
  background: linear-gradient(15deg, #0194E2 0%, #792692 100%);
  box-shadow: 1px 0px 3px 1px #0194E277; }

#download-offline {
  background: linear-gradient(15deg, #9A8D00 0%, #4d835f 100%);
  box-shadow: 0px 0px 3px 2px #a99c1077;
  text-decoration: none; }

.http_extension_manual {
  background: #1c3146;
  padding: 30px; }
  .http_extension_manual .bordered_container {
    padding: 30px;
    border: 3px solid #000a;
    border-radius: 20px;
    background: #0007;
    color: #fff; }
    .http_extension_manual .bordered_container:not(:last-child) {
      margin-bottom: 30px; }
    .http_extension_manual .bordered_container .code {
      margin: 5px; }
      .http_extension_manual .bordered_container .code.inline_code {
        margin: 0 5px;
        display: inline-block;
        vertical-align: bottom; }
    .http_extension_manual .bordered_container ul li:not(:last-of-type), .http_extension_manual .bordered_container ol li:not(:last-of-type) {
      margin-bottom: 0.5em; }
  .http_extension_manual .browser_extensions_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
